[2019-04-24 17:49] finestpixels opened #1 "Add to Contributors"

[2019-04-24 17:50] #1 closed

[2019-04-24 17:55] finestpixels opened #2 "Add Andrew as Contributor"
@all-contributors please add @arpowers  for infrastructure, tests and code.

[2019-04-24 20:37] #2 closed

[2019-04-24 21:23] arpowers opened #3 "First Issue"
test

[2019-04-24 21:24] arpowers commented on #3
Let's add arpowers for his contributions. cc @all-contributors

[2019-04-24 21:25] arpowers commented on #3
Let's add @arpowers arpowers for his contributions. cc @all-contributors

[2019-04-24 21:27] arpowers commented on #3
@all-contributors please add @arpowers for code

[2019-04-24 21:28] arpowers commented on #3
@all-contributors please add and @finestpixels @arpowers for design

[2019-07-15 18:59] #3 closed

[2019-07-17 15:21] coooolers opened #15 "Error: jsonwebtoken not found"
When I run yarn factor dev, I get this error

  ✔ Installing Dependencies [Done!]
  ✔ Creating Extension Loaders [Done!]
(node:14870) UnhandledPromiseRejectionWarning: Error: Cannot find module 'jsonwebtoken'

[2019-07-17 16:29] arpowers commented on #15
this was patched, let me push a new release.

[2019-07-17 17:29] coooolers commented on #15
ok thx. Could you pl. add instructions where to specify the db connection string and smtp details? Also I think git clone <this-repository> is missing in the docs.

[2019-07-17 18:39] arpowers commented on #15
@coooolers definitely, we are still in pre-alpha and both the setup process and docs need some love.. working on it now.

[2019-07-17 19:13] coooolers commented on #15
Okay.. thank you for the response.

[2019-07-17 19:13] #15 closed

[2019-07-29 18:06] finestpixels opened #27 "Fix Navigation"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design fix

## Steps to Reproduce

- [ ] Add red line after "current" nav item:
<img width="251" alt="Image 2019-07-29 at 12 04 50 PM" src="https://user-images.githubusercontent.com/2752967/62081439-e3f13480-b20f-11e9-9a3f-9f5824631600.png">

- [ ] Center navigation wrap div from top and bottom:

<img width="248" alt="Image 2019-07-2

[2019-07-29 18:49] finestpixels opened #28 "Implement "work sans" font from google (normal, semibold, & bold)"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design fix

## Steps to Reproduce

Font: [https://fonts.google.com/specimen/Work+Sans](https://fonts.google.com/specimen/Work+Sans)

Code:
`<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,600,700&display=swap" rel="stylesheet">
`
css: ` font-family: 'Work Sans', sans-serif;`

[2019-07-29 18:55] finestpixels opened #29 "Implement slide from left nav on mobile"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design Fix
## Steps to Reproduce

Current:

<img width="373" alt="Screen Shot 2019-07-29 at 2 46 02 PM" src="https://user-images.githubusercontent.com/2752967/62081356-a2f92000-b20f-11e9-85e8-0b717cf0a671.png">

Design:

<img width="371" alt="Image 2019-07-29 at 12 48 30 PM" src="https://user-images.githubusercontent.com/2752967/6208

[2019-07-29 19:00] finestpixels opened #30 "Fix percentage-based spacing"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design Fix

## Steps to Reproduce

- Remove space or size based on percentage because it shrinks or stretches items based on the browser window size.

Example (nav items & buttons):

![Screen Recording 2019-07-29 at 12 58 PM](https://user-images.githubusercontent.com/2752967/62081118-37af4e00-b20f-11e9-87a4-3065cb6ea03e.gif)

[2019-07-29 19:02] finestpixels opened #31 "remove empty space after every section"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design Fix

## Steps to Reproduce

Screenshot:

<img width="1260" alt="Image 2019-07-29 at 1 01 50 PM" src="https://user-images.githubusercontent.com/2752967/62080481-fec2a980-b20d-11e9-958d-37ab980f65de.png">

<img width="1383" alt="Screen Shot 2019-07-29 at 2 35 02 PM" src="https://user-images.githubusercontent.com/2752967/62080537

[2019-07-29 19:07] finestpixels opened #32 "Match mobile site with design"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design fix

## Steps to Reproduce
Current state:

<img width="496" alt="Image 2019-07-29 at 1 04 30 PM" src="https://user-images.githubusercontent.com/2752967/62080428-dd61bd80-b20d-11e9-8e73-bafc9df6991d.png">

Design:
![ultra-mobile](https://user-images.githubusercontent.com/2752967/62080437-e18ddb00-b20d-11e9-82a3-7a4588c8dc4d.jpg

[2019-07-29 19:09] finestpixels opened #34 "add social icons on home layout"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design Fix

## Steps to Reproduce
Screenshot:

<img width="1015" alt="Screen Shot 2019-07-29 at 2 30 41 PM" src="https://user-images.githubusercontent.com/2752967/62080246-83f98e80-b20d-11e9-8c15-df4cc7156d82.png">

[2019-07-29 19:32] finestpixels opened #35 "Fix gradient angle on home section"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design Fix

## Steps to Reproduce
Gradient goes from top left to bottom right:

<img width="1149" alt="Image 2019-07-29 at 1 31 37 PM" src="https://user-images.githubusercontent.com/2752967/62079973-f9189400-b20c-11e9-9d74-e0edf8475f9b.png">

[2019-07-29 19:36] finestpixels opened #36 "fix button sizes"
## Why you creating this issue?
- [ ] Bugfix
- [ ] Feature
- [x] Design Fix

## Steps to Reproduce
Button sizes currently change based on browser window because you're using `vh` or `vw. Use pixels or ems so the spacing stays consistent.

<img width="587" alt="Image 2019-07-29 at 1 33 03 PM" src="https://user-images.githubusercontent.com/308134/62076986-4d6c4580-b206-11e9-9cfa-eb7074de9fe7.png">

[2019-07-29 21:09] finestpixels opened #37 "Fix "About" section"
**Reason for this issue**

- [x] Design Fix

**Steps to Reproduce**

- [ ] Add more padding between nav and content
<img width="596" alt="Screen Shot 2019-07-29 at 2 57 30 PM" src="https://user-images.githubusercontent.com/2752967/62082090-51519500-b211-11e9-9db2-9db964d00f5f.png">

- [ ] Center content vertically
<img width="1111" alt="Screen Shot 2019-07-29 at 2 59 53 PM" src="https://user-image

[2019-07-29 21:28] finestpixels opened #38 "Fix "Services" section"
**Reason for this issue**

- [x] Design Fix

**Steps to Reproduce**

- [ ] Add background .svg and fix title spelling

Current:
<img width="1108" alt="Screen Shot 2019-07-29 at 3 10 19 PM" src="https://user-images.githubusercontent.com/2752967/62082941-059feb00-b213-11e9-8d8b-7cee1f962c63.png">

Design:
<img width="885" alt="Screen Shot 2019-07-29 at 3 11 20 PM" src="https://user-images.githubuser

[2019-07-29 22:07] finestpixels opened #39 "fix "Portfolio" section"
**Reason for this issue**

- [x] Design Fix

**Steps to Reproduce**

- [ ] fix section background. Currently all dark but only the header part is dark (Hex #111010)

Current:
<img width="1109" alt="Screen Shot 2019-07-29 at 3 38 30 PM" src="https://user-images.githubusercontent.com/2752967/62084679-13f00600-b217-11e9-9d16-c1d0ed65c81a.png">

Design:
<img width="883" alt="Screen Shot 2019-07-29 at

[2019-07-29 22:21] finestpixels opened #40 "Fix "News" section"
**Reason for this issue**

- [x] Design Fix

**Steps to Reproduce**

- [ ] Fix header style and typography

Current:
<img width="1147" alt="Screen Shot 2019-07-29 at 4 09 10 PM" src="https://user-images.githubusercontent.com/2752967/62086338-3f74ef80-b21b-11e9-8f3f-bfb20a581ca2.png">

Design:
<img width="911" alt="Screen Shot 2019-07-29 at 4 09 40 PM" src="https://user-images.githubusercontent.com

[2019-07-29 22:37] finestpixels opened #41 "Fix "Contact" section"
**Reason for this issue**

- [x] Design fix

**Steps to Reproduce**

- [ ] Fix header typography and spacing, match design. Remove `vh` and `vw` based spacing and sizes, it makes items appear too big or too small depending on the window size.

Current:
<img width="784" alt="Screen Shot 2019-07-29 at 4 25 20 PM" src="https://user-images.githubusercontent.com/2752967/62087090-b7dcb000-b21d-11e9-9111

[2019-07-29 22:38] finestpixels opened #42 "Add footer section"
**Reason for this issue**

- [x] Design fix

**Steps to Reproduce**

There's currently no footer section.

Design:
<img width="1125" alt="Screen Shot 2019-07-29 at 4 38 21 PM" src="https://user-images.githubusercontent.com/2752967/62087546-56b5dc00-b21f-11e9-8800-3730af47f4d7.png">

[2019-07-29 22:42] finestpixels opened #43 "Add favicon to theme"
**Reason for this issue**

- [x] Design Fix

**Steps to Reproduce**

Implement image as favicon (.ico file):

![favicon](https://user-images.githubusercontent.com/2752967/62087724-fe330e80-b21f-11e9-8a27-40c055948a8c.jpg)

[2019-07-29 22:45] finestpixels opened #44 "Logo fix"
**Reason for this issue**

- [x] Design fix

**Steps to Reproduce**

- [ ] Make logo slightly bigger
- [ ] Implement logo as an .svg file
<img width="368" alt="Screen Shot 2019-07-29 at 4 44 18 PM" src="https://user-images.githubusercontent.com/2752967/62087786-3cc8c900-b220-11e9-8109-f2ca27a08fd1.png">

[2019-08-01 18:52] finestpixels opened #49 "Call to action links broken"
**Reason for this issue**

- [x] Quick Fix

**Steps to Reproduce**

Links broken on factor js page:
https://www.fiction.com/factor-js

<img width="1245" alt="Screen Shot 2019-08-01 at 12 45 52 PM" src="https://user-images.githubusercontent.com/2752967/62319121-87ce2080-b45a-11e9-89e2-7f2431ff24e8.png">

[2019-08-01 18:55] finestpixels opened #50 "footer"
**Reason for this issue**

- [x] Quick fix

**Steps to Reproduce**

Footer "Terms of Service" & "privacy policy" links broken:
<img width="527" alt="Screen Shot 2019-08-01 at 12 54 50 PM" src="https://user-images.githubusercontent.com/2752967/62319602-910bbd00-b45b-11e9-8ef6-2392a7d1cf5a.png">

https://www.fiction.com/terms-of-service
https://www.fiction.com/privacy-policy

[2019-08-02 18:30] finestpixels opened #52 "Fix home items"
**Reason for this issue**
[x] Design Fix

**Steps to Reproduce**

- [x] Fix Background to match with footer

<img width="1251" alt="Screen Shot 2019-08-02 at 12 25 36 PM" src="https://user-images.githubusercontent.com/2752967/62390904-ab5b9e80-b520-11e9-8c04-a0ce6775cdea.png">

- [x] Add new content / Factor features

[2019-08-02 20:18] finestpixels opened #56 "Fix admin for non-moderator"
**Reason for this issue**

- [x] Bug

**Steps to Reproduce**

Fix admin for user without privileges:
https://www.fiction.com/admin
<img width="1099" alt="Screen Shot 2019-08-02 at 2 18 11 PM" src="https://user-images.githubusercontent.com/2752967/62396417-693a5900-b530-11e9-9c38-7928116d42c4.png">

[2019-08-02 20:23] finestpixels opened #57 "style blog"
**Reason for this issue**

- [x] Update styles

**Steps to Reproduce**

update blog styles to match design:
![Blog v2](https://user-images.githubusercontent.com/2752967/62396680-03020600-b531-11e9-902e-6d20cb8be726.jpg)

[2019-08-02 22:47] finestpixels opened #59 "Fix and test contact form"
**Reason for this issue**
- [x] plugin implementation / fix

**Steps to Reproduce**

- [x] Test and fix contact form in VIP page:

https://www.fiction.com/vip

<img width="826" alt="Screen Shot 2019-08-02 at 4 18 42 PM" src="https://user-images.githubusercontent.com/2752967/62401619-377dbe00-b541-11e9-97e1-b448492ccf21.png">

[2019-08-02 23:29] #56 closed

[2019-08-03 05:30] finestpixels opened #61 "account - resend email error"
**Reason for this issue**

- [x] Bug

**Steps to Reproduce**
"Resend email" not working:
<img width="1079" alt="Screen Shot 2019-08-02 at 11 28 09 PM" src="https://user-images.githubusercontent.com/2752967/62407921-7b8eb400-b57d-11e9-85f2-cb4ab95eaa3a.png">

Error:
<img width="566" alt="Screen Shot 2019-08-02 at 11 28 49 PM" src="https://user-images.githubusercontent.com/2752967/62407923-80ebfe80-

[2019-08-03 17:31] #61 closed

[2019-08-03 17:31] #49 closed

[2019-08-06 18:00] #50 closed

[2019-08-06 19:47] #57 closed

[2019-08-06 21:36] finestpixels opened #66 "Fix and test social share (Pinterest)"
**Reason for this issue**

- [x] Quick Fix

**Steps to Reproduce**

Fix share buttons  (Pinterest)
<img width="778" alt="Screen Shot 2019-08-06 at 3 35 37 PM" src="https://user-images.githubusercontent.com/2752967/62579044-f39bf900-b85f-11e9-9d95-eff4f47bbcee.png">

[2019-08-06 21:52] finestpixels opened #67 "Text gets cut off mid-line"
**Reason for this issue**

- [X] Bug / Enhancement

**Steps to Reproduce**
Blog post content get's cut off mid-line on the dashboard:
<img width="646" alt="Screen Shot 2019-08-06 at 3 49 34 PM" src="https://user-images.githubusercontent.com/2752967/62579846-0d3e4000-b862-11e9-8767-2f01e3a9ef68.png">

[2019-08-08 22:47] #59 closed

[2019-08-08 22:49] #52 closed

[2019-08-11 21:47] #67 closed

[2019-08-13 17:33] arpowers opened #73 "Fix/Improve Repo Readme"
**Reason for this issue**

**Steps to Reproduce**

[2019-10-12 18:40] aaronlippold opened #81 "Local dev setup seems to be broken"
Went through the basic setup steps. Running a local docker mongodb server on 27017.

Had to set the DB_CONNECTION to `mongodb://localhost:27017/test1` as the setup didn't ask me for a db name but would throw a `db name must be a string error` without it.

[code]

[2019-10-12 18:54] arpowers commented on #81
@aaronlippold hey aaron, did you get this using the repo or did you install using create-factor-app ?

[2019-10-12 18:56] arpowers commented on #81
we're in the process of setting up the testing suite right now, its possible we need to republish the packages.

[2019-10-12 19:08] #27 closed

[2019-10-12 19:08] #28 closed

[2019-10-12 19:08] #29 closed

[2019-10-12 19:08] #30 closed

[2019-10-12 19:08] #31 closed

[2019-10-12 19:08] #32 closed

[2019-10-12 19:08] #34 closed

[2019-10-12 19:08] #35 closed

[2019-10-12 19:08] #36 closed

[2019-10-12 19:08] #37 closed

[2019-10-12 19:08] #38 closed

[2019-10-12 19:08] #39 closed

[2019-10-12 19:08] #40 closed

[2019-10-12 19:08] #41 closed

[2019-10-12 19:08] #42 closed

[2019-10-12 19:08] #43 closed

[2019-10-12 19:08] #44 closed

[2019-10-12 19:44] aaronlippold commented on #81
used this via the create-factor-app npx method. I can try via the repo as well. alpha.20 is what the cli installed.

[2019-10-12 19:47] aaronlippold commented on #81
Some notes on the setup helper process:
1. If the mongodb needs a dbname that should also be in the DB string
2. if SES and S3 bucket are really required, that also should be in the setup tool
3. perhaps the default pattern should be to use the ~/.aws/ defaults and perhaps AWS Profiles to get the aws creds - less chance of committing them by accident.
4. A suggestion, for the initial user, a full

[2019-10-12 19:48] aaronlippold commented on #81
I can try doing a pull to see if that resolves my issues

[2019-10-12 20:05] aaronlippold commented on #81
[code]

[2019-10-12 20:11] aaronlippold commented on #81
Cool. I'll let you guys hack and when you're ready for me to do an update and test again I'm happy to be your guinea pig

[2019-10-12 20:55] arpowers commented on #81
@aaronlippold your feedback would be super helpful.  Once we have a bit more code coverage (especially testing of install!) then we'll be opening up the "developer program," etc.

We'd love to have you involved, please send me an email at andrew@fiction.com and we can chat.

[2019-10-13 14:01] aaronlippold opened #82 "Can't find (node:30923) UnhandledPromiseRejectioWarning: Error: Cannot find module '<repo>/factor/@apps/docs/.factor/loader-settings.js'"
**Reason for this issue**

**Steps to Reproduce**

[2019-10-13 14:03] aaronlippold commented on #82
yarn workspace @apps/docs factor build
zsh: correct 'factor' to '@factor' [nyae]? n
yarn workspace v1.16.0
yarn run v1.16.0
$ /Users/aaronl/github/mitre/factor/node_modules/.bin/factor build
  ✔ Verify Dependencies [Done!]
  ✔ Verify Extensions [Done!]
Factor loaders are missing. Did you forget to run 'yarn factor build' before serving your app?
(node:31040) UnhandledPromiseRejectionWarning: Error

[2019-10-13 14:04] aaronlippold commented on #82
as a note - there is no `.factor` directory in that expected path

[2019-10-13 14:31] arpowers commented on #82
I will publish the packages when I get to a computer. Once we have release
management and the test suite set up stuff like this shouldn't happen..

On Sun, Oct 13, 2019 at 7:04 AM Aaron Lippold <notifications@github.com>
wrote:

--
Founder @ Fiction.com

[2019-10-24 14:41] aaronlippold commented on #82
Hi, are things at a point where I can try again? Thanks.

[2019-10-24 14:46] arpowers commented on #82
Hey Aaron,
We are trying to get coverage up to 80% or so and working through a
refactor at the same time. At that point we should be ready for prime time
"beta." (All quality metrics are available on the readme)

However, i don't want to lose your attention; early contributors make or
break projects like this one. Want to do a call or something later in the
week?

On Thu, Oct 24, 2019 at 8:41 AM A

[2019-10-28 09:07] sjke opened #84 "`create-factor-app` v.1.0.0-beta.6 is broken"
**Reason for this issue**
[code]

**Steps to Reproduce**
`yarn create factor-app <project-name>` or `npx create-factor-app <project-name>`

[2019-11-01 16:34] halilertekin commented on #84
+1

[2019-11-01 16:48] arpowers commented on #84
sup guys, thanks for (attempting) to give it a try. We're currently working on a massive refactor which includes 200+ test cases; in the `refactor/modules` branch.

Once that's relatively stable (eta 2 weeks), the plan is to go to public beta and continue to work on stability for a while as most features have already been implemented.

That would be the ideal time to give things a try, and we defi

[2019-11-08 23:57] jprando commented on #84
+1

[2019-11-17 01:23] Twitch0125 opened #89 "create-factor-app won't run in Firefox"
I tried both NPX and the Yarn method of create-factor-app. I don't receive any errors from the server. I receive these errors in the console:
![firefox-errors](https://user-images.githubusercontent.com/44715857/69001530-97ecfd00-089d-11ea-8eb0-8cafaa5399a2.png)

**Steps to Reproduce**
`yarn create factor-app factorApp`
`yarn factor dev`
visit localhost:3000 in Firefox (v.70.0.1)
app seems to load

[2019-11-18 10:26] arpowers commented on #89
@Twitch0125  did you try running this in your terminal?  It's an NPM scaffolding utility.

<img width="640" alt="Screen Shot 2019-11-18 at 11 25 37 AM" src="https://user-images.githubusercontent.com/308134/69044990-38eecb80-09f6-11ea-8f18-1dd23ebed421.png">

[2019-11-19 05:38] Twitch0125 commented on #89
I tried both the Yarn method and the NPX method and get the same results each time. I can visit the app on chrome/chromium however without any issues, its just with firefox I get issues.

[2019-11-19 06:17] arpowers commented on #89
Oh I see, ok I'll take a look. Sometimes SSR and Firefox can be finicky as any time the server rendered HTML and the browser rendered HTML are slightly different, it throws this error.

[2019-11-19 07:35] arpowers commented on #89
@Twitch0125 after some looking, it appears to be a difference/bug in Firefox's handling of arrays vs V8 which runs in Node and Webkit/Chrome.  I'll investigate further.

[2019-11-19 09:12] arpowers commented on #89
fixed in latest release.

[2019-11-19 09:12] #89 closed

[2020-01-02 05:44] #66 closed

[2020-01-02 05:44] #73 closed

[2020-01-02 16:27] webstackdev opened #107 "Error on setup"
I am getting the following error when I attempt to setup. I think my mongodb string is correctly set. Browsing to localhost:3000 after running the development server (`yarn factor dev`) gives a mostly-empty page with the app name, the app description, and links to the Factor documentation and Github repo (but no indication of an error or setup not being completed).

[code]

Choosing any of the ava

[2020-01-02 16:29] arpowers commented on #107
Right, will fix this today.

On Thu, Jan 2, 2020 at 9:27 AM Kevin Brown <notifications@github.com> wrote:

--
Founder @ Fiction.com

[2020-01-03 01:23] #107 closed, assigned to nobody

[2020-01-03 01:25] arpowers commented on #107
@calligraphic fixed this; still working through some bugs. Let me know if you have any other issues.

[2020-01-04 13:05] jozsefsallai opened #108 "Cannot use "yarn factor" on Windows"
**Reason for this issue**
The factor cli does not work in Windows due to a broken `factor.cmd`.

**Steps to Reproduce**

1. Create a factor app.
2. Try to run `yarn factor dev` (or any other factor command).

Output:
[code]

Environment:
 * Windows 10
 * No WSL. Git-bash, but it does the same thing under the native Windows Command Prompt too.
 * Node v10.15.2
 * npm v6.4.1
 * yarn v1.13.0

**Worka

[2020-01-04 14:45] arpowers commented on #108
Interesting, thanks for the report. Do you know if it works w `npx`?

Eg `npx factor dev`

I'll have a look around and see how other libs are dealing w this.

[2020-01-04 14:59] jozsefsallai commented on #108
`npx` doesn't work either.
[code]

`npx create-factor-app`, on the other hand, did work. It's how I created the project.

I've checked batch scripts from some of Factor's dependencies and they all have `node` instead of `/bin/sh`. For example, the `atob` package:
[code]

I had a look at the cli's source code and I couldn't really figure out what causes it to be `/bin/sh` instead of `node`. I'm sus

[2020-01-04 15:07] jozsefsallai commented on #108
Actually, it's probably because of the shebang here: https://github.com/fiction-com/factor/blob/353b727a55f75bf11c62bc55d23a7d47b785be86/%40factor/cli/index.js#L1

It should look like this: https://github.com/rvagg/node-errno/blob/master/cli.js#L1

[2020-01-04 15:32] arpowers commented on #108
Awesome work. I'll fix and release 1.1.21 by end of day

[2020-01-04 17:38] #108 closed, assigned to nobody

[2020-01-15 23:21] ghost opened #110 "Fix Support page"
On https://factor.dev/support
404 Error
This page doesn't exist.

[2020-01-16 01:23] ghost opened #111 "More fix contact, page..."
**After create Contact Forms**
Can not again open and edit is not clickable

**On page in Page Template** after select Basic page can not remove selection add that

**In account Pages** add image and click on image Copy url, not copy url is copy Page Template

**And where upload image?** for avatar and cover better set only one upload or multiple but with select primary

[2020-01-16 01:47] arpowers commented on #111
@Sceko ill get right on it. Would it be possible to get screenshots of the issues?

[2020-01-16 03:41] krlmrr opened #112 "UnhandledPromiseRejectionWarning: Error: JsonWebTokenError: invalid signature at Object.exports.endpointError"
**Reason for this issue**

UnhandledPromiseRejectionWarning: Error: JsonWebTokenError: invalid signature
    at Object.exports.endpointError

**Steps to Reproduce**

Create a new project - Start Server, and attempt to go to /dashboard and login.

[2020-01-16 04:15] arpowers commented on #112
that's coming from a mismatch with the JWT token.

Is your TOKEN_SECRET set in .env?

[2020-01-16 04:16] #81 closed

[2020-01-16 04:16] #82 closed

[2020-01-16 04:16] #84 closed

[2020-01-16 05:51] krlmrr commented on #112
I believe so...

Sent from my iPhone

﻿
that's coming from a mismatch with the JWT token.

Is your TOKEN_SECRET set in .env?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-01-16 17:55] #112 closed, assigned to nobody

[2020-01-16 20:15] ghost commented on #111
![Screenshot 2020-01-16 at 21 13 42](https://user-images.githubusercontent.com/2323952/72559458-1c132f00-38a5-11ea-9767-188281aa522e.png)
Can not again open and edit is not clickable

On page in Page Template after select Basic page can not remove selection add that
![Screenshot 2020-01-16 at 21 14 25](https://user-images.githubusercontent.com/2323952/72559486-2e8d6880-38a5-11ea-9f34-43d7f34673ee.

[2020-01-16 20:41] arpowers commented on #111
Good ideas, I'll clean this up tonight

[2020-01-16 22:03] ghost commented on #111
And very import for next gen cms is repeat fields in other cms named like matrix fields, flexible content, or like on prismic is named like slices

not using only body with editor stuff and it is it.

better add blocks like add text, and add gallery, and again add text, add quote etc...  allow users to create repeat fields for content like this
![Screenshot 2020-01-16 at 23 24 19](https://user-ima

[2020-01-16 23:02] Sceko commented on #111
And fix in last update after add Cover Photo(s) and save nothing save.

[2020-01-16 23:04] ghost commented on #111
And fix this  after add **edit** in url like /dashboard/posts/contact-form/edit open this
![Screenshot 2020-01-17 at 00 04 29](https://user-images.githubusercontent.com/2323952/72570361-fa25a680-38bc-11ea-8bbb-1d2b0b33cffb.png)
same for page and other fix that.
And for user Cover Photo(s) after upload and save nothing and remove multiple upload

[2020-01-16 23:10] arpowers commented on #111
working on these issues now, are you getting errors thrown in the console?

[2020-01-17 01:22] arpowers commented on #111
@Sceko the drag and drop stuff, like prismic, will be accomplished with plugins. We can work on those once we have a stable core :P

[2020-01-17 04:23] #111 closed, assigned to nobody

[2020-01-17 04:26] arpowers commented on #111
I patched a few issues that you described, for anything else, please file 1 issue per bug/request that way we can close them as we fix or address them :)

[2020-01-17 08:43] ghost opened #113 "Cover Photo(s)"
Cover Photo after upload and save not save after refresh page.
And better use only avatar whitout profile photo or only profile photo  :) and remove this + for other image single upload like on avatar now in image:
![Screenshot 2020-01-17 at 09 43 41](https://user-images.githubusercontent.com/2323952/72597342-da6a9e80-390d-11ea-91a1-fea8e864a030.png)

[2020-01-17 08:46] ghost opened #114 "Contact form"
I can not click on contact form and edit is not clickable

![Screenshot 2020-01-17 at 09 45 55](https://user-images.githubusercontent.com/2323952/72597495-3503fa80-390e-11ea-91c9-5ece7a55f09f.png)

[2020-01-17 08:47] ghost opened #115 "Protect url"
Protect url if you open localhost:3000/dashboard/posts/page/ and add edit like localhost:3000/dashboard/posts/page/edit
is open page
![Screenshot 2020-01-17 at 09 47 25](https://user-images.githubusercontent.com/2323952/72597598-5ebd2180-390e-11ea-95eb-485211d7e54b.png)

for nothing :) and this is for other same

[2020-01-17 08:49] ghost opened #116 "Post contant"
After click
![Screenshot 2020-01-17 at 09 48 50](https://user-images.githubusercontent.com/2323952/72597693-91671a00-390e-11ea-8f1c-43b29ec2fea8.png)
is not fine push page right
![Screenshot 2020-01-17 at 09 48 29](https://user-images.githubusercontent.com/2323952/72597714-9deb7280-390e-11ea-9139-341df7d463a3.png)
and not you can not see editor

[2020-01-17 08:51] ghost opened #117 "Avatar not show"
In last version avatar go to hide after some time
![Screenshot 2020-01-17 at 09 50 53](https://user-images.githubusercontent.com/2323952/72597859-ed31a300-390e-11ea-823d-92b16c326f23.png)

[2020-01-17 17:48] arpowers commented on #114
In this case, these are form submissions. Why would you want them to be editable?

[2020-01-17 18:23] #115 closed, assigned to nobody

[2020-01-17 18:23] #116 closed, assigned to nobody

[2020-01-17 18:23] #117 closed, assigned to nobody

[2020-01-17 18:23] #113 closed, assigned to nobody

[2020-01-17 19:01] ghost commented on #114
Why?
![Screenshot 2020-01-17 at 20 00 17](https://user-images.githubusercontent.com/2323952/72638585-06187380-3964-11ea-89a3-f52faeda1a36.png)
this is why i wont edit title post content  url etc..  or this is useless in start

[2020-01-17 23:05] nodesocket opened #118 "Changing user e-mail creates a new user"
Changing a user's e-mail is a common operation, but currently e-mail is a primary key. So when you change your e-mail for your user, it creates a completely separate new user leaving the old one orphaned.

This should not be the behavior. It should just update the e-mail of your single existing user account and cascade update all pages and posts to reference the new e-mail.

[2020-01-18 00:36] #118 closed, assigned to nobody

[2020-01-18 01:20] #114 closed, assigned to nobody

[2020-01-22 03:23] nodesocket opened #119 "Post image upload bug"
See screencast. Images showing "unknown" `src` unless it is the first time loading the post from `yarn factor dev`. I.E. images only show up the first time you view the post after entering dev mode.

[2020-01-22 03:30] nodesocket opened #120 "Disqus integration for blog posts"
Can I just add the JavaScript snippet into the markdown?

[2020-01-22 03:32] nodesocket opened #121 "At the end of blog posts, link to other blog posts to increase engagement"
Ghost does this, at the end of each blog post, it shows you another post to increase engagement to other posts on the blog. Can be randomized, or even statically defined.

![image](https://user-images.githubusercontent.com/523312/72863228-72adae00-3c95-11ea-9543-e52a2f9fd508.png)

[2020-01-22 03:35] arpowers commented on #120
no, there are XSS concerns with doing that. However, we could add a filter/hook for you as the dev that you could just use in your main app `index.ts`

[2020-01-22 03:38] nodesocket opened #122 "Add additional author details to each blog post"
I'd like to add an additional few sentences to each blog post by a given user that supports html inside it. For example:

![image](https://user-images.githubusercontent.com/523312/72863453-40e91700-3c96-11ea-9772-35949b76f8c5.png)

That way you can write a few sentences about each author and have marketing outbound on each blog post.

[2020-01-22 03:45] raylopro opened #123 "user roles not working"
**Reason for this issue**

I'm able to see the edit post page without admin access when I follow the steps below.

note: I can access the page but don't have saving privileges

**Steps to Reproduce**

1. Login as a regular user
2. go to blog page and click on "edit blog post"
3. go back on browser

[2020-01-22 03:59] #123 closed, assigned to nobody

[2020-01-22 04:01] arpowers commented on #122
Some of these features are easily done via customization. How that is handled is as follows:

If a component is loaded via setting:

[code]
Then all you need to do is copy the original component into your app, customize it as you like, and override the setting with your own:

[code]

[2020-01-22 04:02] arpowers commented on #122
However, we DO need to make sure that things are appropriately "overrideable" with "Zeno theme" @finestpixels  is on top of that.

[2020-01-24 01:22] nodesocket opened #124 "Ability to use Google Cloud storage bucket"
I am running Factor on Google Cloud Platform and prefer to use a Google Cloud Storage bucket instead of AWS S3. Is this possible?

[2020-01-24 01:44] nodesocket commented on #124
Let's create another plugin called `plugin-storage-gcs`

[2020-01-24 23:17] arpowers commented on #119
this was fixed.

[2020-01-24 23:17] #119 closed, assigned to nobody

[2020-01-25 00:21] #110 closed, assigned to nobody

[2020-02-08 08:15] nodesocket opened #128 "404 returns a 200 status code"
When navigating to a page that does not exists, the page body returns:

Yet the http response code is `200`. For SEO and best practice it should return a `404` http response code.

[code]

[2020-02-08 08:26] arpowers commented on #128
I don't think this is an issue, I'm not sure offhand how this would be solved since the Express server doesn't "know" if a page is 404 or not, that's handled by Vue Router.

[2020-02-08 08:36] nodesocket commented on #128
It certainly is an issue. You want to be returning the right status codes, those are the language of http. How do you detect whether to display the text:

See: https://stackoverflow.com/questions/54218371/how-to-get-a-404-response-in-vue-router

[2020-02-08 08:42] arpowers commented on #128
The response itself is not that important, if you want i can add:
[code]
to the HTML on pages where a 404 is thrown

[2020-02-08 08:47] nodesocket commented on #128
Yup, probably a good idea to add that meta tag if returning a 404 status code is not possible.

[2020-02-08 08:50] nodesocket opened #129 "Sitemap includes signin page. Sitemap.xml optimization"
Should the `sitemap.xml` include `/signin` page?

See: https://elasticbyte.dev/sitemap.xml

Also, I am by no means and SEO expert but other popular frameworks add additional attributes:

[code]

See: https://www.sitemaps.org/protocol.html

 Does that make a difference? Take a look at a Ghost sitemap to see what they do:

https://blog.elasticbyte.net/sitemap.xml

[2020-02-10 05:55] arpowers commented on #129
Signin page should be discoverable. I'll try and improve the ui, `lastmod` etc, aren't required if you aren't doing the work to tune the numbers.

[2020-02-10 06:00] #128 closed, assigned to nobody

[2020-02-10 20:09] cristiandrei1234 opened #130 "Category for blog posts"
Hello I saw, that there is no category creation/selection in the blog section. Also a new feature could be to add custom fields and different types of archives (ex. portofolio or team).

[2020-02-10 20:11] arpowers commented on #130
@cristiandrei1234 ah you're right, i'll put that into place later this week.

About archives, what do you mean specifically? can you give me an example?

[2020-02-10 20:23] cristiandrei1234 commented on #130
I can give you a reference compared to WordPress to understand better what I mean->

According to WordPress Codex, “Custom Post Types” also known as “Custom Content Types” is the specific type of post types that can be added to your WordPress using a simple function called the register_post_type(). The function allows you to add the new custom post type in accordance with a number of specifics suc

[2020-02-10 20:26] arpowers commented on #130
Based on those definitions Factor already has the concept of post types. That's how it does everything with a single collection.

I can easily add category functionality to blog posts since the groundwork is already done; the option is just missing.

If I understand you correctly,  you are just waiting to see all the plugins that Factor is going to enable... as an example we have a `jobs` plugin t

[2020-02-10 20:32] cristiandrei1234 commented on #130
Yes, this is what I mean.

[2020-02-10 20:35] cristiandrei1234 commented on #130
Also don`t forget Custom Fields, for the extra type of post types.
Example to portfolio, or team, people wants to define different content than a normal blog.

[2020-02-10 21:51] arpowers commented on #130
Sure, thats all in place already. I'd be curious to know exactly what you
are looking for... i will help you get it.

On Mon, Feb 10, 2020 at 1:35 PM cristiandrei1234 <notifications@github.com>
wrote:

[2020-02-11 11:54] cristiandrei1234 commented on #130
I am looking at your CMS to see if it can replace WordPress in my work where it`s possible.

[2020-02-13 00:51] nodesocket opened #132 "[plugins/contact-form] Ability to set a custom subject of e-mail notification"
For brownie points, the ability to dynamically use form values.

e.g.

[code]

[2020-02-13 00:52] nodesocket opened #133 "[plugins/storage] Add a migrate task that migrates images from MongoDB to storage provider"
Logic should loop through all images in MongoDB and upload to the storage provider only if the image is **not** already in the storage provider bucket.

[2020-02-13 01:03] nodesocket opened #134 "[plugins/storage-s3] add content type on upload"
Add the content type when uploading to s3 bucket using https://github.com/jshttp/mime-types#readme

[code]

[2020-02-17 20:21] raylopro opened #135 "[themes/plugin-blog] different posts loading"
**Reason for this issue**

- Blog posts don't load sometimes

- Blog page 2 not loading posts

** Video: [https://vimeo.com/392063947](https://vimeo.com/392063947) **

[2020-02-18 22:20] nmaier95 opened #136 "environment (e.g. local, staging, prod) specific config"
**Reason for this issue**
Unsure on how this topic is supposed to work with factor. In the "Before you start" section of your documentation we are introduced how and where to store environment-variables.
What about the case that those change from e.g. local to staging to production?
How is one supposed to deal with this issue? How can i tell factor to use a different config file?

[2020-02-18 23:05] arpowers commented on #136
@nmaier95

that changes depending on the way you run your app, for example, with Heroku (what we use) they have a settings interface for the app where you add each env variable (see screenshot)...

<img width="781" alt="Screen Shot 2020-02-18 at 4 03 11 PM" src="https://user-images.githubusercontent.com/308134/74785719-348db500-5268-11ea-9e15-65a7bf6b8076.png">

@nodesocket can you clarify how you

[2020-02-18 23:13] nmaier95 commented on #136
Hi @arpowers thank you very much for your quick response. I'll have a look at that.
I also just discovered another issue with the .env file not being commited. Unfortunately docker-compose uses this (and only this) .env file to store e.g. PROJECT_NAME or COMPOSE_FILE. Those configs belong to any developer on a project and are therefore needed to be checked in imo. Also docker-compose has not come

[2020-02-18 23:17] arpowers commented on #136
you NEVER want your `.env` file in source control.

The "best practice" is to set up your environment variables manually for each environment.  This file is for secret information; anything that doesn't need to be secret can be in config/settings and stored in source control.

As a story, we once committed our SMTP password to source control accidentally; it was hacked and used as a spam account w

[2020-02-18 23:22] nmaier95 commented on #136
Im aware of the fact that .env is not supposed to be in source control. However I haven't figured out how else to set those two docker-compose settings. Also those do not hurt anyone if they are exposed. To be fair though, I never stored something else inside of this file yet.

[2020-02-18 23:28] arpowers commented on #136
@nodesocket can you help? you're the docker master.

[2020-02-18 23:58] nodesocket commented on #136
@nmaier95 where is the `docker-compose.yaml` file you are using?

Typically, this is handled by the platform you are deploying to. I.E. Heroku has environment variables you specify via their web interface.

When I build my Factor Docker container I am using the following Dockerfile _(I am not using compose)_:

[code]

.dockerignore

[code]

Note, that I am copying my `.env` file into the container

[2020-02-19 00:10] nmaier95 commented on #136
Besides me using compose, our Dockerfiles look similar. But deleting the .env file after building factor is a good point!

i have an almost empty (no services, only version and volumes) compose file in my project root. Then I have under build/docker/ (path doesn't really matter) for each service its own compose.yml file. Those are then combined in the property of the .env file COMPOSE_FILE.

For n

[2020-02-19 02:40] arpowers commented on #136
@nmaier95 Im not a total Docker pro (yet) so i dont have a lot of context.

However, if you have any suggestions or ideas on changes or features that could make this easier (or more straight forward) let me know and i'll take care of it

[2020-02-19 09:16] nodesocket opened #137 "Static assets in production mode are setting Cache-Control: max-age=0 response header"
Why when running in production `yarn factor serve` are all static assets such as `.js`, `.css`, `.svg`, `.png` setting a response header from Node.js of `Cache-Control: public, max-age=0`?

This poses a problem when using Cloudflare and trying to cache assets. `cf-cache-status` is always `EXPIRED` thus a roundtrip from Cloudflare to the origin always occurs.

I'd recommended not returning a`Cache-

[2020-02-19 18:31] arpowers commented on #137
@nodesocket which file and environment? The `maxAge`  should be set to 24 hours in production

[2020-02-19 19:36] nodesocket commented on #137
Just running `yarn factor serve` and setting `FACTOR_URL`:

## CSS

[code]

## JS

[code]

## SVG

[code]

[2020-02-19 20:24] arpowers opened #138 "--server: Server reloading shows multiple times"
When doing dev restarting of the server using the --server option, the server restarting notification shows multiple times.  Reduce this and clean up the logging.

[2020-02-19 20:27] arpowers opened #139 "Factor Start, doesn't show right CLI output"
Need to show `ready` output in the CLI

[2020-02-19 21:35] #137 closed, assigned to nobody

[2020-02-24 01:45] nodesocket opened #141 "[plugins/contact-form] add date/time to more form entry listing in dashboard"
Add the creation date/time to `more` form entry listing in dashboard.

[2020-02-24 07:13] st-schneider opened #142 "Multi-Tenancy Support?"
Does Factor support Multi-Tenancy? Couldn't find an answer on the page.

[2020-02-24 07:42] arpowers commented on #142
Sure, it should/could. Not exactly sure what you mean but happy to discuss your use-case.

[2020-02-24 07:43] st-schneider commented on #142
multiple sites/domains with the same visual content but for example different languages and some different style maybe administrated in one instance of factor.

[2020-02-24 07:47] arpowers commented on #142
Yes! We have several sites sharing databases, and you could run several sites on the same server just using different ports. Shouldn't be a problem.

Might take is a bit to provide all the docs and examples. Happy to provide support here or on the forum which we will make live this week.

[2020-02-24 07:48] arpowers commented on #142
We also have a "source" property on all posts which can be used to control what shows up where.

[2020-02-24 07:55] st-schneider commented on #142
As a reference, good ol' wp https://wordpress.org/support/article/create-a-network/

[2020-02-24 07:59] arpowers commented on #142
Ah yes, good ol multisite. So you'd like to spin up sites the same way?

There is a bit of work involved in allowing users to run sites, but it's possible.. Each would just get their own collection in MongoDB. Not sure how that would scale As of yet.

[2020-02-24 12:32] st-schneider commented on #142
Yes, for example if you have example.com, example.de, example.co.uk and so on. And you want to admin it from one instance.
That is the main dealbreacker for most CMS headless or not.

[2020-02-25 03:51] arpowers commented on #142
@bm-stschneider yes, i think this works already. You can specify the source app for any post you add to the system, we run https://factor.dev and https://fiction.com on the same DB.

[2020-02-25 03:52] arpowers commented on #142
can we move this conversation to the Factor Forum? Its brand new and i want to test it a bit...

https://factor.dev/forum

[2020-02-26 23:33] samsour opened #143 "Factor forum markdown code not visible"
**Reason for this issue**
Hi, I was about to create a post in the new Forum and stumbled across a strange bug that made markdown code sections disappear/invisible. This does not happen in the edit mode.

**Steps to Reproduce**
[See this post](https://factor.dev/topic/5e56f4695a9997002c376502/how-to-set-custom-page-template-settings) or create a new forum post and add something in the markdown code

[2020-02-27 00:41] arpowers commented on #143
It is because you didn't add a "js" but it should still work I suppose. Will fix and improve.

Thanks!

[2020-02-27 10:55] samsour opened #144 "Inconsistent page template slugs/names"
**Reason for this issue**
While creating a custom page template I noticed that a custom template was not applied because of the template loader looking for a wrong template-slug ().
Instead of the template slug set in `index.js` the loader searches for a template slug that is the template name in _kebab-case_. "Custom Landingpage" ->_custom-landingpage_ instead of the wanted slug _landingpage_.

A

[2020-02-27 20:26] arpowers commented on #144
Still can't seem to figure it out, in your admin, are the page template values the same as the slug?

I don't know why `templateLocation` is getting set to `name`

<img width="296" alt="Screen Shot 2020-02-27 at 1 25 59 PM" src="https://user-images.githubusercontent.com/308134/75483799-c67e7780-5964-11ea-982f-bc5795c17cfc.png">

[2020-02-27 22:21] samsour commented on #144
Ah I think I mixed things up with the screenshots... Originally I wanted to show that the template name is also the value of the option field.

***This better describes my problem:***

[code]

![image](https://user-images.githubusercontent.com/37221148/75492173-7ed50b80-59b7-11ea-809f-cc4578d28a05.png)

Instead of `landingpage-slug` the `templateLocation` will look for `landingpage-name`.

[2020-02-28 03:41] #144 closed, assigned to nobody

[2020-02-28 03:42] arpowers commented on #144
Found the issue, this should be fixed in next patch release 1.4.3

[2020-02-28 04:30] KateTDidNation2020 opened #145 "Solved"
**Reason for this issue**

**Steps to Reproduce**

Forked

Then clone and open a copy on device

... Had bug    error.msi

[2020-02-28 14:29] st-schneider commented on #142
I actually don't want to sign up anywhere for a cms.

[2020-02-28 17:03] #142 closed, assigned to nobody

[2020-02-28 17:03] #145 closed, assigned to nobody

[2020-02-28 17:05] #141 closed, assigned to nobody

[2020-03-03 02:09] nodesocket opened #147 "Update link to Elastic Byte on factor.dev"
Please update the link on the factor.dev site to https://elasticbyte.net from https://www.elasticbyte.dev/.

[2020-03-03 04:10] #132 closed, assigned to nobody

[2020-03-04 13:57] OrchardSkills opened #148 "How to implement a search for your blog post content"
**Reason for this issue**
How do you implement a search for your blog post content?
**Steps to Reproduce**

[2020-03-10 02:48] caleblyn310 opened #149 "cannot run factor dev"
Hello,

Why I can't run npx factor dev?
The error is:

Cannot find module '@factor/loader'
Require stack:
- /home/adit/Documents/belfactor/node_modules/@factor/server/index.ts
- /home/adit/Documents/belfactor/node_modules/@factor/cli/cli.ts
- /home/adit/Documents/belfactor/node_modules/@factor/cli/index.js

And when I go to @factor folder inside <project-name>/node_modules, there is not loader fol

[2020-03-10 05:05] heathism commented on #149
the same here

Ubuntu 18.04
node v12.16
npm v6.13.4

[2020-03-10 05:26] arpowers commented on #149
hey guys/gals, many apologies.

We just added that package and forgot to add it as a dependency. It works from within the monorepo which is why we didn't notice...

Anyway, we've fixed that and it should be working now... let me know if the problem remains in version `1.4.9`

To rerun and make sure you're using the latest version:

[code]

[code]

[2020-03-10 05:34] heathism commented on #149
It's okay now.

Thanks @arpowers

[2020-03-10 07:19] caleblyn310 commented on #149
Thanks @arpowers

[2020-03-10 07:19] #149 closed, assigned to nobody

[2020-03-10 22:59] alighali85 opened #150 "Blog posts are not shown consistently"
**Reason for this issue**
after creating and publishing some posts, I am not able all the time to see them.

**Steps to Reproduce**

1. sign in as an admin
2. create a post and publish it
3. go to the app and click on the blog tab
4. you will be redirected to the blog page
5. you will get No Posts, even thought you have published already some posts
6. repeat  the first 5 steps above, from the dash

[2020-03-11 17:27] arpowers commented on #150
@alighali85 thanks, this sounds like a store/query issue. This is with the latest blog plugin? what theme and version are you using?

[2020-03-11 17:27] #147 closed, assigned to arpowers

[2020-03-11 17:32] #143 closed, assigned to nobody

[2020-03-12 11:55] Samlilli opened #151 "npx create-factor-app fails to install all necessary packages"
**Steps to Reproduce**
Running `npx create-factor-app` on Mac OS 10.15.3 (19D76) (with or without sudo), throws the following error:
[code]

[2020-03-12 16:41] arpowers commented on #151
@Samlilli hey there, what version of Node was this on?

[2020-03-12 18:58] siebevh opened #152 "Can't remove avatar in Blog"
**Reason for this issue**
I couldn't remove my selected avatar in a blog post
**Steps to Reproduce**
* Create A blog
* Add your avatar
* Save your blog
* Go To view
* Edit your blog post and delete your post
* Save your post
=> image will be back

<img width="1680" alt="Schermafbeelding 2563-03-12 om 19 58 30" src="https://user-images.githubusercontent.com/34541597/76557453-e00edb80-649b-11ea-8d74

[2020-03-12 20:09] arpowers commented on #150
@alighali85 did this get resolved in `1.4.10`? I believe it was a problem with the Zeno theme.

[2020-03-12 20:21] arpowers commented on #152
@siebevh thanks for the issue, it looks like you're using an older version (this bug was patched already)... did you run:
[code]

or
[code]

[2020-03-12 20:24] siebevh commented on #152
@arpowers I just downloaded everything today, in which version of which package is this fixed? than i could check the version I have

[2020-03-12 20:26] arpowers commented on #152
What version are you using of `@factor/core`? it should be on the CLI... latest version is `1.4.10`... The only way I can tell is the user icon was changed to circular on recent releases...

[2020-03-12 20:34] siebevh commented on #152
strange I'm at "version": "1.4.10"

[2020-03-12 20:35] arpowers commented on #152
ok i'll take another look then... might be a regression of some kind.

[2020-03-12 22:49] #152 closed, assigned to nobody

[2020-03-13 07:08] mikeopatskyi opened #153 "Database issue"
When I have installed factorjs app in a DB i don't see user document, seems like user document has to be created automatically but it doesn't! I see posts document but nothing more.

[2020-03-13 07:36] arpowers commented on #153
User document in the db?

[2020-03-13 07:36] arpowers commented on #153
All documents are stored in a single collection "posts"... Can you clarify?

[2020-03-13 08:43] mikeopatskyi commented on #153
sorry, I meant user collection

[2020-03-13 18:01] #151 closed, assigned to nobody

[2020-03-15 09:27] mohitsehgal commented on #121
When can we expect this?

[2020-03-15 17:08] siebevh opened #154 "Could not add a new item in dashboard"
**Reason for this issue**
Could not add a new item in dashboard (Box in my example)
**Steps to Reproduce**
repo: https://github.com/siebevh/eskapo

add this to index.ts:
[code]

* start server
* no boxes to see in deshboard

[2020-03-15 17:33] arpowers commented on #154
Hey there @siebevh

Ok, found your issue, thanks for posting the repo.   There are two issues here:

1. **Loading Config**

In your [package.json](https://github.com/siebevh/eskapo/blob/master/package.json) you are loading  you have a syntax problem in your loading config.

Change it to this

[code]
Currently you have a object inside of an array.

2. **hideAdmin Issue** Remove the `hideAdmin` prop

[2020-03-15 17:35] arpowers commented on #154
Note that with the load config, you can also pass an array:
[code]

This will load your main file (usually `index.ts`) in both the server environment and app environment.

[2020-03-16 15:42] siebevh opened #156 "could not add addContentRoute"
**Reason for this issue**
I couldn't add a new ContentRoute
**Steps to Reproduce**
repo: https://github.com/siebevh/eskapo
added code in `/components/rooms/`:
[code]
added box-wrap.vue
[code]

run code and navigate to localhost:3000/boxes
no response

[2020-03-16 16:08] arpowers commented on #156
Make sure to use `import` not require for components...

[code]

also, I recommend always using file extensions. `.vue`

Finally, images use `require` still. This is because `import` returns a promise which isn't always convenient; `require` is actually a Webpack `url-loader` thing and it just returns an image url in those cases. This doesn't work, however, with components.

[2020-03-16 16:08] #156 closed, assigned to nobody

[2020-03-16 16:13] arpowers commented on #156
Also, `<router-view />` is used for nested routes. From your code, I think you're probably trying to do that.. but just making sure.

[2020-03-16 18:26] #154 closed, assigned to nobody

[2020-03-17 14:09] mohitsehgal opened #157 "Best way to make customization in existing Factor themes"
**Reason for this issue**
Just a general question about factor,
Once we start using any factor-theme, let's say Zeno theme,
Now, I've noticed that when I want to modify some properties in factor-settings.ts, it turns out, I have to copy a few files from the original theme. So I copied a lot of files from the original theme.
Now down the line, if the author of the theme releases new features down t

[2020-03-17 14:12] mohitsehgal commented on #157
**Found answer**

If you override then your changes will be retained.
Generally theme updates should be new features or fixes. They should be non-breaking.

[2020-03-17 14:12] #157 closed, assigned to nobody

[2020-03-17 14:15] mohitsehgal commented on #157
Theme authors should be aware of the scope of the changes.
If they want to make big changes we recommend a new theme
The theme can be Zeno-2 or something

[2020-03-17 14:45] mohitsehgal opened #158 "Hiding / Deactivating any feature in Theme"
**Reason for this issue**
How can we disable any particular section, like Logos section in Zeno theme, I just dont want that. I removed its reference from navigation, How do I disable (not remove -- may need later) that for now?

**Steps to Reproduce**
Install any theme, let's say Zeno.
Try to customize

[2020-03-17 14:52] arpowers commented on #158
Everything should be either:

- overrideable - by adding your own component in `factor-settings`
- setting enabled - where the theme author just needs to make sure it's set up

Finally, as a quick fix you can sometimes just hide w CSS. This is a last resort however.

In the case you mention, if you'd like it as a setting or it's not set for easy override. Contact the theme author or post an issue

[2020-03-17 15:00] mohitsehgal commented on #158
Sure, will do that, for now, I am just customizing the .vue file.

[2020-03-17 15:03] mohitsehgal commented on #158
I tried to comment "/pricing" route in index.ts, still it's not giving 404. Pricing Page is intact

[2020-03-17 15:05] mohitsehgal commented on #158
index.ts

import { addFilter, setting, addContentRoutes } from "@factor/api"
import { Component } from "vue"

if (setting("headTags") != "") {
  addFilter({
    key: "addZenoFont",
    hook: "factor_head",
    callback: (_: []) => {
      return [..._, setting("headTags.font")]
    },
    priority: 200
  })
}

// CONTENT ROUTES

addContentRoutes({
  key: "zenoRoutes",
  routes: [
    {
      path:

[2020-03-17 15:35] mohitsehgal opened #159 "How to remove/disable existing routes for Zeno theme?"
**Reason for this issue**
I wanted to use Zeno theme for my new blog.
I wanted to remove /pricing route.
There is no way to removeContentRoute . I searched in the APIs also tried commenting /pricing route in index.ts file
**Steps to Reproduce**

[2020-03-17 15:39] arpowers commented on #159
@finestpixels ?

[2020-03-17 17:24] mohitsehgal opened #160 "Plugin: Email List - No way to add style to input field of component."
**Reason for this issue**
There is no way to add css or css class to input field in Factor's Email List Plugin.

**Steps to Reproduce**
This is what I got from https://github.com/fiction-com/factor/blob/development/%40plugins/plugin-email-list/email-list-form.vue
` <input
        v-model="email"
        type="email"
        :placeholder="setting('form.placeholder')"
        @keyup.enter="add()"

[2020-03-17 17:29] arpowers commented on #160
Target it with:
[code]

that work?

[2020-03-17 17:33] mohitsehgal commented on #160
Yes worked

[2020-03-17 17:33] #160 closed, assigned to nobody

[2020-03-17 17:46] mohitsehgal opened #161 "Custom Query on Posts and Use them in non-default route."
**Reason for this issue**

I wanted to display the latest 10 posts on the home page of a factor app.
So, I checked the blog-index.vue in factor-blog-plugin, Where there are all posts are shown along with pagination, But I couldn't get how to do a custom query on specific post type?

What is the best way to create a posts-list widget with a given query and a given limit?

[2020-03-17 17:54] mohitsehgal commented on #161
There can be usecase like. List All blog posts of a particular category / tag and sort them. Something on that terms.

[2020-03-17 18:30] arpowers commented on #161
You can try to request a post list or post index:
[code]

[2020-03-17 18:53] mohitsehgal opened #162 "Blog Plugin: Permalink structure customization for SEO"
In the blog plugin, how can we customize the permalink structure, which is very important for the overall SEO of a content-based website.
Like we would like to have blog-posts in 1 category to have url like:
/cateegory1/perma-link-blog
and other having
/category2/perma-link-blog-2
and so on.
How can we do that?

[2020-03-17 19:32] siebevh opened #163 "Theme Alpha: Footer not at bottom"
**Reason for this issue**
![Schermafbeelding 2563-03-17 om 20 30 43](https://user-images.githubusercontent.com/34541597/76894343-445fdf80-688e-11ea-86ad-e6403faf8f9b.png)
Footer not at the bottom of the page in theme alpha is this possible to always set it on the bottom of the page?
**Steps to Reproduce**

[2020-03-17 19:59] arpowers commented on #163
Sticky is almost always a problem on mobile. I recommend setting a min-height to the content.

[code]

[2020-03-17 20:10] siebevh commented on #163
what would be the problem on mobile?

[2020-03-17 21:36] arpowers commented on #163
`position: fixed;` has historically been janky on mobile.  If that's what you mean, in most cases with footers I'd just suggest that you make sure the content area  height is always tall enough to keep the footer at the bottom.

[2020-03-17 21:58] siebevh commented on #163
No I don’t mean `position:fixed`, I think the theme should have standard styling on the footer to postion the footer always on the bottom, because I think I’m not the only one who will encounter this issue, if you understand me

[2020-03-17 22:03] arpowers commented on #163
not totally, it seems like min-height would solve the problem you're asking about.

[2020-03-17 22:07] siebevh commented on #163
It will be a solution but is not the best, because you will not see the footer when there is to little to display only a large blank space at the bottom

[2020-03-17 22:09] arpowers commented on #163
Best would be just to provide an example site that has what you're suggesting.

[2020-03-17 22:10] siebevh commented on #163
When you download the alpha theme and launch it, when you go to the login page on a large screen the footer will not be at the bottom of your page

[2020-03-18 06:44] siebevh commented on #163
for example at https://underbelly.is/all-ears the footer will always be visible even when there is not enough content to cover a whole page

[2020-03-18 14:35] mohitsehgal commented on #162
How can we do it?
Adding a custom filter?
Add additional field to the schema?

[2020-03-18 14:44] arpowers commented on #163
@finestpixels ?

[2020-03-18 14:44] arpowers commented on #162
Let's not post multiple questions in the same thread, remember it's about searchability...

[2020-03-18 14:46] arpowers commented on #162
To add to the general `post` type that is shared by all posts in the system, you can use the `post-schema` filter.

something like:

[code]

[2020-03-18 14:55] mohitsehgal commented on #162
@arpowers  Gotcha
Now how to get this `mySpecialCategory` in `addContentRoute` ?

[2020-03-18 15:22] arpowers commented on #162
can you split this into it's own thread? People will find this thinking its about permalinks

[2020-03-18 15:34] mohitsehgal opened #165 "How can we customize URL for Viewing Posts"
**Reason for this issue**
How can we customize URL for Viewing Posts with custom fields like Primary Category?

I added primaryCategory in schema.
Now I want to customize URL for the post.
How can we do it?

[2020-03-18 15:34] mohitsehgal commented on #162
Opened at https://github.com/fiction-com/factor/issues/165

[2020-03-18 17:47] siebevh opened #166 "addPostEditComponent Isn't adding a box to post options"
**Reason for this issue**
I want to extend the dashboard with custom input fields.
According to the documentation this could be done in the following way.
![Schermafbeelding 2563-03-18 om 18 44 10](https://user-images.githubusercontent.com/34541597/76990581-7afa3080-6948-11ea-8fdf-8ddfc1f4b117.png)
but when I look in this repo the @factor/api has no declaration of addPostEditComponent
![Schermafbe

[2020-03-18 19:02] arpowers commented on #166
I'll clarify this, you can find that function in `@factor/post`

[code]

as a tip, you should keep a copy of the Factor repo on your computer, if you have a problem you can always look for the function in the project to see where the import should come from.

[2020-03-18 19:28] siebevh commented on #166
I have changed it to "@factor/post" but does not see any new items on dashboard
https://github.com/siebevh/eskapo

[2020-03-18 21:56] arpowers commented on #166
Just ran it, saw this error:

<img width="955" alt="Screen Shot 2020-03-18 at 3 54 58 PM" src="https://user-images.githubusercontent.com/308134/77011225-fe0f8c80-6930-11ea-8c69-4da50f0e93ea.png">

added this:
[code]

Now we have this:
<img width="1268" alt="Screen Shot 2020-03-18 at 3 56 18 PM" src="https://user-images.githubusercontent.com/308134/77011246-0bc51200-6931-11ea-995d-80711fd50091.png"

[2020-03-18 21:56] #166 closed, assigned to nobody

[2020-03-18 22:14] arpowers commented on #165
This can actually be done by just adding a route with a `:permalink` parameter and whatever else you'd like...

Set up a route like this (untested)

[code]

with that is should still pull the data automatically that associated with the permalink and add it to `post` in the store.

[2020-03-18 22:14] #165 closed, assigned to nobody

[2020-03-19 15:11] siebevh opened #167 "Ducomentation not correct"
**Reason for this issue**
![Schermafbeelding 2563-03-19 om 16 08 50](https://user-images.githubusercontent.com/34541597/77082221-0d0f4100-69fc-11ea-8eed-ea566061fcf0.png)
The documentation of Extending an Existing Schema is not correct, the addFilter function now has only one param.
How could I add a field to an existing schema?

[2020-03-19 15:32] mohitsehgal commented on #165
Please let me try and verify before closing the ticket. Humble request

[2020-03-19 15:33] mohitsehgal commented on #165
I have tried this, this doesn't work

[2020-03-19 15:35] mohitsehgal opened #168 "How can we customize url for Blog Post Viewing?"
**Reason for this issue**
How can we customize URL for Viewing Posts with custom fields like Primary Category?

I added primaryCategory in schema.
Now I want to customize URL for the post.
How can we do it?

PS: Please don't close the ticket before its tested.

[2020-03-19 15:36] mohitsehgal commented on #162
Re-opened related ticket at https://github.com/fiction-com/factor/issues/168

[2020-03-19 15:56] mohitsehgal commented on #162
This didn't worked

[2020-03-19 16:55] mohitsehgal opened #169 "New version of factor is not running for existing project"
**Reason for this issue**

![image](https://user-images.githubusercontent.com/1757104/77093053-76a94280-6a30-11ea-962d-f4d31fdfed3e.png)

[2020-03-19 17:32] siebevh commented on #169
you have to be on node version 12. at which version are you now?

[2020-03-19 17:35] arpowers commented on #169
There an error somewhere?

[2020-03-19 17:42] siebevh commented on #169
@arpowers I had the same no errors just loading for ever, I was on a wrong node version then

[2020-03-19 18:19] arpowers commented on #169
Interesting, we should probably add a node version check

[2020-03-19 19:12] mohitsehgal commented on #169
I am already running on the latest node, I overcame the problem by stashing all code, re-installing all extensions.

[2020-03-19 19:13] mohitsehgal commented on #167
I faced same issue

[2020-03-21 09:04] mohitsehgal commented on #168
It can be done by editing the content route or adding filter.

use`editContentRoute` function from `@factor/api`

[code]

Check
https://github.com/mohitsehgal/factor-playground/blob/master/src/index.ts

[2020-03-21 09:04] #168 closed, assigned to nobody

[2020-03-21 11:08] mohitsehgal commented on #162
Here are the steps to do it:
1. Add custom field name `primaryCategory` in posts schema.
[code]

Key --> Post type
Hook --> It is standard, use as it is.
modify schemaDef according to your needs.

2. Add Input for new field in Admin Dashboard.
i) Add filter to attach a vue component for editing
pushToFilter({
[code]
ii) Add that `categoryDashboardEdit` component to factor-settings.ts  like this

[

[2020-03-21 11:09] #162 closed, assigned to nobody

[2020-03-21 11:11] #161 closed, assigned to nobody

[2020-03-21 11:15] #169 closed, assigned to nobody

[2020-03-21 11:16] #158 closed, assigned to nobody

[2020-03-21 11:39] mohitsehgal commented on #159
We can do it using new `editContentRoute` API

[code]

[2020-03-21 11:39] #159 closed, assigned to nobody

[2020-03-22 16:43] mohitsehgal opened #170 "Factor Alpha Theme : Unable to modify Home Component"
Hi @Andrew Powers and team,
1. I switched to alpha theme
2. I wanted to edit v-home.vue component
3. I added in factor-settings.ts the component and then I created new component in my app
4. it's not working, its picking default component (given by theme)
what might be the issue? Node is the latest version, npm is the latest version, the factor is v1.5.0, I am running on Mac.

I copied factor-sett

[2020-03-22 18:05] #170 closed, assigned to nobody

[2020-03-22 18:06] arpowers commented on #167
this has been fixed

[2020-03-22 18:06] #167 closed, assigned to nobody

[2020-03-22 18:07] #153 closed, assigned to nobody

[2020-03-22 18:18] #134 closed, assigned to arpowers

[2020-03-23 19:00] siebevh opened #171 "postLink doesn't returned permalink"
**Reason for this issue**
When i add a factor-link with the postLink method, it will return to the index page of the type not to the detail page of the post
<factor-link :path="postLink(post._id)">
question => how to get to the detail page with a factorLink via postLink?
**Steps to Reproduce**
repo: https://github.com/siebevh/eskapo
run code and try to go to detail of boxes from the boxes page

[2020-03-24 10:55] andreialecu opened #172 "Changelog for releases?"
I wasn't able to find a changelog, I think it's important to provide one and link it prominently.

We're looking at factor vs gatsby for several projects, but the lack of a changelog is concerning.

[2020-03-24 14:43] arpowers commented on #172
I understand your concern. We're still ramping up; I've told another user that we'll be starting changelogs w v1.6.

[2020-03-26 09:00] dselcan2 opened #173 "addContentRoute doesent work"
**Reason for this issue**
I was trying to add a custom endpoint in my factor app but was unable to do so. I've looked at the documentation available assessing, that addContentRoute should do what I want, but I couldn't get it to work. Out of frustration I cloned the factor example repo and tried there to see how/if it works there and upon trying to visit the "/page" endpoint I got a 404, which led

[2020-03-26 09:10] bugknightyyp opened #174 "error Couldn't find any versions for "@factor/endpoint" that matches "^1.5.0""
**Reason for this issue**
error Couldn't find any versions for "@factor/endpoint" that matches "^1.5.0"
**Steps to Reproduce**
just run `yarn create factor-app <project-name>`

[2020-03-26 14:23] arpowers commented on #174
I just ran it with both
[code]

and didn't run into an issue. Are you using the latest version of LTS Node? Everything up to date?

[2020-03-26 15:04] bugknightyyp commented on #174
@arpowers
I use Mac, and here are the logs:
[code]

[2020-03-26 15:08] arpowers commented on #173
@dselcan2 the example app was out of date, we finalized the APIs and so on January 1 when we went to 1.0.

Anyway, I've updated the example app and it's all working now. Give it a shot.

**TWO IMPORTANT THINGS**

1. Make sure the main files are getting loaded. For this you need `load` in your `package.json`
2. Make sure you are importing functions from the right place (this was the problem with th

[2020-03-26 15:09] #173 closed, assigned to nobody

[2020-03-26 16:38] arpowers commented on #174
Well, it's showing version `1.5` here:

https://www.npmjs.com/package/@factor/endpoint

The issue is for some reason your Yarn install isn't resolving the package?

[2020-03-26 16:40] arpowers commented on #172
@andreialecu

https://github.com/fiction-com/factor/blob/development/CHANGELOG.md

Added these, we will be improving them and adding blog posts, etc... we are working on a dashboard and dev experience redesign, then docs (again) and then we should be running on full power.

[2020-03-26 16:40] #172 closed, assigned to nobody

[2020-03-27 13:48] dselcan2 opened #175 "Plugin Email List giving "Unknown custom element" error"
**Reason for this issue**
I wanted to start playing with the email list plugin, so I created a new endpoint and pointed it to a simple v-email.vue file which only contains the following three lines from the plugin docs:
<template>
  <factor-email-list list-id="default" />
</template>
upon loading the new endpoint i am greeted with a page with no content besides the header&footer and the following

[2020-03-27 16:03] arpowers commented on #175
Ya that's called a hydration error and it usually just means you have something wrong in a Vue component.

To use the email list plugin, all you should need to do is import the component and add it to your component. It handles the rest.

Without seeing your actual code, I'm assuming you're doing something a bit incorrect.  There should be no need for server middleware, etc... the plugin handles a

[2020-03-27 16:06] arpowers commented on #175
Here is an example of how to use this plugin (from how we are using it at Factor)

<img width="673" alt="Screen Shot 2020-03-27 at 10 04 59 AM" src="https://user-images.githubusercontent.com/308134/77775658-7ac9f700-7012-11ea-8e7f-e0f2da884ea6.png">

Here is the actual code:

https://github.com/fiction-com/factor/blob/development/%40apps/factor/src/home/el-join.vue

[2020-03-27 16:23] dselcan2 commented on #175
I see, that example helped.
I missed that I needed to import the component in the script tag.
Thanks!

[2020-03-27 16:23] #175 closed, assigned to nobody

[2020-03-29 06:19] bugknightyyp commented on #174
try again now, it's ok.

[2020-03-29 06:19] #174 closed, assigned to nobody

[2020-03-30 17:44] stephenscaff opened #176 "No clear way to manage User Roles."
**Reason for this issue**

Not seeing a method for changing / setting / updating a user's Roles in the Admin.

I'd imagine this capability would be a form select on the User's page in the dashboard, if viewing as admin.

**Steps to Reproduce**
When I log in to dashboard as admin and visit a User's entry, no feature is available to manage their Role (form select with possible Roles as options).

Ad

[2020-03-30 18:06] arpowers commented on #176
This is implemented on the list users interface; see dropdown at the top...

You're correct that we need to add this option on the edit account page for individual users.

I'll leave this issue open until that is done. Thanks!

[2020-03-30 19:21] stephenscaff commented on #176
First - thanks for the fast response. Very awesome.
Second - derps.... I see that now. My bad man.

Been searching through the repo to uncover most the stuff I can't pull from the docs. Missed this one.

Is there a way to set a default signup level, like FACTOR_ADMINS in .env?
IE: FACTOR_CREATORS="carlosdanger@email.com,..."

Sidenote - I'm digging Factor. Nice work. Gonna commit to it for a thing

[2020-03-30 19:25] arpowers commented on #176
Glad to hear that Steve.

First question, why would you need to systematically assign (using .env) vs just creating an admin and then promoting via dashboard?

[2020-03-30 19:35] #150 closed, assigned to nobody

[2020-03-30 19:43] stephenscaff commented on #176
Yeah, fair enough.

To provide a reduced admin experience - so Creators would only see the post type they can edit (and their profile).

Background -  building a site/app for this design event that's now gone to an online format, with the end of days and all.

I'll have admins and users for the participating designers.

They'll be able to go create a custom post and update images of their explorat

[2020-03-30 20:15] arpowers commented on #176
I'll work with you to create what you need. Everything is possible, it's just about focus and time. Let me know if you run into additional issues.

[2020-03-31 11:05] mohitsehgal commented on #171
I also have similar question

[2020-03-31 18:54] yanchesky opened #177 "[plugin/storage-google-cloud] Plugin requires setup despite all variables are present"
When launching app in console prints notification "setup needed". `GOOGLE_APPLICATION_CREDENTIALS` and `GOOGLE_CLOUD_STORAGE_BUCKET` are supplemented.

I dig in node_modules and found that first condition should be tested negative. When `!` is added  before, everything works fine. Otherwise, uploads are saved in DB.
![image](https://user-images.githubusercontent.com/37340314/78063857-249de080-7391

[2020-03-31 19:21] arpowers commented on #177
Ya there might be a couple issues w this plugin as it's not been fully tested. Everything else is working ok?

[2020-03-31 19:32] yanchesky commented on #177
Seems so. Adding and deleting works fine

[2020-04-01 00:21] raylopro commented on #163
This was fixed in the latest update @siebevh

[2020-04-01 19:02] gergogy opened #178 "LDAP login"
**Reason for this issue**
Hello,

**Firstly, this project just looks amazing.**

I'd like to make my project based on this, but there is one thing that I don't know...
Can I implement LDAP based login somehow? (package that I'd use: https://www.npmjs.com/package/ldapjs)
Is there any way to implement this?

The imaginary login process (Sorry if I miss some steps):

1. User navigates to login page
2

[2020-04-01 22:37] arpowers commented on #178
Thanks @gergogy .. first a question.

what's the use case for LDAP specifically?

I can tell you that Factor is designed for extension from the start, so everything we've come across "can" be implemented with an extension or directly inside an app. It's just about focus, time,  and who implements it.

[2020-04-01 22:39] arpowers commented on #178
The core authentication strategy is based around the awesomely simple JWT approach, this can easily work with other ways of doing auth like OAuth and I assume LDAP,  but again i'd need to know the use case to recommend an approach

[2020-04-02 07:16] gergogy commented on #178
Yes, JWT awesome, I don't want to replace the whole authentication and security things, just the login.
The cause why I need this is simple, customer need this... They had full bunch of applications that using LDAP already. So they want to integrate this to that ecosystem.
So, as I wrote earlier, I don't want to fully replace JWT, just the login/registration (To be honest, registration will be dis

[2020-04-02 11:49] igokul1973 opened #179 "404 Http error when viewing newly-created `work`/`portfolio` (theme dependent)"
**Reason for this issue**
Upon addition of new "work" or "portfolio" (`work` in `Alpha`, `portfolio` in `Ultra`, I did not check other themes) in the dashboard the link to view it does not work, issuing 404 HTTP error.

**Steps to Reproduce**
1. Install, for example, `Alpha` theme. It has the `work` type.
2. Go to dashboard, try to Add New Work.
3. After clicking Update button, click View button.

[2020-04-02 12:26] mohitsehgal opened #180 "Blog Plugin: Dynamic Categories and Category Pages"
**Reason for this issue**
Hi,
The blog category is a primary feature of any blogging system. Suppose you are having a blog on `Factor` now it will have many categories like `Configuration`, `Customization`, `Extensions`, `Deployment`, etc.

If any serious blogger is adapting Factor, then he will look at these missing features:
1. Categories should be saved in DB(It should not be just an array of s

[2020-04-02 12:28] mohitsehgal opened #181 "Blog Plugin: Search page"
Blog Plugin is not having a search page or no live search page on the blog. This is very important feature. Please guide towards it or add enhancement in blog plugin.

[2020-04-02 12:30] mohitsehgal opened #182 "Blog Plugin : Comments"
In any CMS or blogging/page system. There has to be comments section, so that blog readers can leave a comment or carry out discussion. If there is no interaction with people then that would be very tough to adapt Factor as a primary blog platform or any developer adopting it.

Please guide to develop this feature quickly or add it in the official plugin.

[2020-04-02 14:02] mohitsehgal commented on #180
Other Popular Blog Platforms like Strapi and Wordpress also have same concept.
https://strapi.io/blog/build-a-blog-using-nuxt-strapi-and-apollo/

[2020-04-02 15:19] gergogy commented on #178
Here is a tutorial from IBM: https://developer.ibm.com/technologies/node-js/tutorials/se-use-ldap-authentication-authorization-nodejs-cloud-application/ (_Logging on to an LDAP server_ section), and example code: https://github.com/qbzzt/bluemix/blob/master/security/201802/login-using-ldap/app.js

It's not a big thing, I think... just don't want to mess up the code.

Thanks for your time!

[2020-04-02 18:24] mohitsehgal opened #184 "Populate fields on fetch"
I created a field called primaryCategory and added it to schema using
[code]
I added, dashboard-edit component. It was getting saved in MongoDB.

Now when I fetch the post. I am not able to get whole category Object.

Do I need to do something extra?

[2020-04-03 02:36] arpowers commented on #184
ok, what are you using to query the DB?

[2020-04-03 02:37] arpowers commented on #182
Comments plugin is coming. We are working on docs, then extensions

[2020-04-03 02:42] arpowers commented on #181
The standard index request  `requestPostIndex` already supports a search parameter. Usually plugins will support this via a route query variable or path parameter (/path/:search)...

I've added support to the [standard factor blog](https://factor.dev/plugin/standard-blog) plugin  and you'll see that in the next release.  I can also maybe add a component for searching the blog, but you'll be able t

[2020-04-03 02:43] #181 closed, assigned to nobody

[2020-04-03 02:47] arpowers commented on #178
ok thanks; i can tell from quickly checking the tutorial that this is a pretty standard middleware oriented plugin that is needed. However, it's going to be very hard to implement it myself in the short term.

What I can do is clean up the docs and try and make it easy for you to knock it out. Does that work for you?

[2020-04-03 02:48] arpowers commented on #179
@finestpixels can you take a look at this one?

[2020-04-03 02:52] arpowers commented on #184
If you are using a standard query request which accommodates population on its own (`requestPostSingle`)..

Then you'll want to make sure that the posts that are being referenced actually exist with a `postType` of `category` in this case.  With that, it should be working.

If not, i'd need to see more code to understand what's happening.

[2020-04-03 03:21] gergogy commented on #178
Yeah, if you can do that I think that would be enough.
If I get stuck I'll write... :)

Thanks in advance!

[2020-04-03 03:30] mohitsehgal commented on #184
I am trying to get it on post-single page. Where Post is retrieved in stored('post'), along with other populated fields.

[2020-04-03 05:16] gergogy opened #185 "Wrong order in loader-settings.ts"
**Reason for this issue**
I tried to rename the `/blog` route in my project, but not worked. I followed the [docs](https://factor.dev/docs/basic-example). I think the problem is the order of importing `factor-settings.js`  in `loader-settings.ts`.
It should be the last one to everything can be overridable.
![image](https://user-images.githubusercontent.com/21192274/78325834-1ca09500-7579-11ea-86d2

[2020-04-03 07:42] arpowers commented on #185
Ya that's a strange output actually, it shouldn't be including `node_modules` in there and referencing the package directly. How do you have your project setup?

[2020-04-03 07:43] arpowers commented on #185
typical output:

<img width="1023" alt="Screen Shot 2020-04-03 at 1 43 24 AM" src="https://user-images.githubusercontent.com/308134/78336411-88203d80-754c-11ea-8b71-ed126421c0af.png">

[2020-04-03 08:44] gergogy commented on #185
I followed the guide. https://factor.dev/docs/basic-example
But currently I can't share anything else, because my macbook just died...

[2020-04-03 20:38] arpowers commented on #185
can you give me a link to your code or a pic of your file structure? Something is up with the node_modules folder.

[2020-04-03 21:11] gergogy commented on #185
Sorry, but I can't. I just ended up with playing around with the code and sent these comments, then  it's suddenly shutted down and doesn't turn back on. So it was only on local, nothing pushed, even git was not inited.

I remember that, I imported bulma, aws-sdk, ldapjs and made 1 or 2 components and views, nothing special.

[2020-04-04 06:32] mohitsehgal commented on #181
Ok thanks I will check

[2020-04-04 10:57] mohitsehgal opened #186 "Login Button CSS Issue"
**Reason for this issue**

**Steps to Reproduce**
![image](https://user-images.githubusercontent.com/1757104/78426309-464cdf80-7691-11ea-8d21-83f267afd381.png)

1. Create a new Project.
2. Go to dashboard.

[2020-04-04 13:31] mohitsehgal opened #187 "Plugin Suggestion: Notifications OneSignal"
Today most bloggers want to push content on Push Notifications on mobile devices and browsers.

Top service is OneSignal.
I wonder if community can plan a plugin to easily integrate OneSignal. That would be great.

[2020-04-04 13:34] mohitsehgal opened #188 "Editor for Non-Techie"
**Reason for this issue**
We are using markdown based editor which might be tough to use for non-techie users. In most projects users will be non-techie. Can we handle it?
What is the best way to do it?
Any Suggestions.

[2020-04-04 18:01] gergogy commented on #185
So, my computer suddenly working again... so I made a screenshot of folder structure. Maybe the package.json in the playground mess with the app, I'm not 100% sure because these are separated folders and projects...
I usually work on gitlab, but I pushed this to GitHub too, and I invited you to collaborate, so you are able to clone...
![image](https://user-images.githubusercontent.com/21192274/784

[2020-04-04 18:34] arpowers commented on #185
Ah, i think i see. Do you have nested apps? Which is your working directory? (Where you run commands)

I may be able to fix this, or accomdate if there is a use case

[2020-04-04 18:39] gergogy commented on #185
`app` folder is the working directory, playground is just for trying out things like ldap. If you can fix this, please feel free to push, I invited you to collaborate.

[2020-04-05 15:37] arpowers commented on #188
Don't really agree that it's tough. WYSIWYG editors suck.

That said, this could easily be changed with a plugin.

[2020-04-05 15:37] #188 closed, assigned to nobody

[2020-04-06 17:14] arpowers commented on #185
@gergogy found the issue here, globbing problem. Should be fixed after i push a patch today.

[2020-04-06 17:36] gergogy commented on #185
@arpowers thanks!
![](https://media.giphy.com/media/IdD98kNkrI8EVFGocX/giphy.gif)

[2020-04-06 17:47] #185 closed, assigned to nobody

[2020-04-06 17:52] #176 closed, assigned to nobody

[2020-04-06 17:54] gergogy commented on #185
@arpowers Maybe you can use this as a ref for a more efficient solution:
https://github.com/prettier/prettier/issues/1358

[2020-04-06 18:10] arpowers commented on #185
Saw that, wasn't working. The issue is that `node_modules` is in the path, but shouldn't be in the path after a certain point.

[2020-04-06 18:11] arpowers commented on #185
Ultimately the current solution is fine, probably costs like 100ms on build.

[2020-04-08 11:30] ghost opened #190 "typo"
![Screenshot (168)](https://user-images.githubusercontent.com/59839368/78779318-609cfb00-79ba-11ea-8165-f2c8bcc6bdc5.png)

[2020-04-08 11:35] ghost opened #191 "links not being rendered correctly in overview pages of all 3 themes"
![Screenshot (169)](https://user-images.githubusercontent.com/59839368/78779772-22540b80-79bb-11ea-85ad-ec78d2228f32.png)

[2020-04-08 16:50] arpowers commented on #190
Thank you! Will fix later today

[2020-04-09 20:10] chrisj74 opened #192 "Errors on initial build"
getting errors on initial build and unable to view pages in dashboard

**Steps to Reproduce**
Follow the setup instructions provided on install page.

- run `npx create-factor-app`
- provide name for project
- run `yarn factor dev`
- Follow onscreen instructions
- Select Zeno theme as part of setup

After build get the following error:
[code]
Looking forward to using Factor as soon as I can get pa

[2020-04-10 22:09] arpowers commented on #192
@chrisj74 thanks for the bug report, this was fixed in the latest version.

[2020-04-10 22:09] #192 closed, assigned to nobody

[2020-04-10 22:21] arpowers commented on #191
Thanks for this report @nainardev !

[2020-04-11 00:23] #190 closed, assigned to nobody

[2020-04-11 00:23] #191 closed, assigned to nobody

[2020-04-12 06:42] raylopro commented on #179
This has been fixed for both Alpha and Ultra theme in recent versions (1.5.20)

[2020-04-12 06:42] #179 closed, assigned to nobody

[2020-04-12 07:44] mohitsehgal opened #193 "Alpha Theme - Customize Logo"
I tried to customize the `Alpha` logo, created vue file and added it in factor-settings.js at the appropriate place.

Still getting old logo and no error in console or terminal.

@finestpixels  please check

[2020-04-12 07:47] #193 closed, assigned to nobody

[2020-04-12 07:47] mohitsehgal commented on #193
Update: It worked

[2020-04-12 19:11] IamSAB opened #194 "Edit factor settings from dashboard"
First of all, I really like to idea behind Factor and its simplistic approach, however, there are some things that are unclear to me.

I do not understand the reasoning behind:
- Why do you manage content of theme pages via factor-settings. Wouldn't it make to add the site content with a defined template to Pages what would make it easlisy customizable over the dashboard.
- Why do the menu with fa

[2020-04-12 22:50] arpowers commented on #194
You are correct.

There is a reason that things don't work that way, for now. The reason is mostly because we designed Factor as a "code first then UI" platform that prioritizes the workflow of web professionals.

That said, we've realized that a UI in those scenarios would be helpful, its actually a bit technical to do well but we have it on the near term road map.

[2020-04-12 22:50] #194 closed, assigned to nobody

[2020-04-13 17:59] #163 closed, assigned to nobody

[2020-04-14 16:24] mohitsehgal opened #195 "Limit Access to User Role - `Creator`"
![image](https://user-images.githubusercontent.com/1757104/79248992-3ce62300-7e9a-11ea-84af-16780eff52f4.png)

I had installed contact form, email lists, and work posts plugins.
We dont want normal users with role creators to access to Contact form submissions or email lists submissions.

How can we do that?

[2020-04-14 23:36] arpowers commented on #195
This can be fixed, let me take a look in next couple days.

[2020-04-16 11:01] mohitsehgal commented on #195
ok will be waiting

[2020-04-17 15:22] mohitsehgal opened #196 "Access Level Bug for custom post type"
I added custom post type successfully and added  {accessLevel: 20} in `addPostType`.
Then I signed up with new user. Verified its email.
**Case 1**
Result - I was not able to see my custom post type in dashboard. ( New user had accessLevel 20 and role creator)

**Case 2**
I changed the accessLevel of the user from MongoDB to 50, and logged out and again logged in
Result - I was not able to see my

[2020-04-18 13:32] gersirami opened #197 "Bug Ultra theme"
Hello,
I noticed in the Ultra theme, when you go to the news or portfolio posts, the menu doesn't work at all.

[2020-04-18 15:18] mohitsehgal commented on #197
Yes I experienced same issue

[2020-04-18 15:23] mohitsehgal opened #198 "Deployment of backend with PM2"
I was trying to deploy a Factor App to Ubuntu Server.

Steps:
1. Installed Node, NPM, Mongodb, NGINX, PM2
2. Cloned the repo, `npm install`
3. Build it for production, `npx factor build`
4. When I do `npx factor serve`
It will launch the factor app till I am logged in from my system to ubuntu server.

I wanted to use standard node process manager like `forever` and `pm2` but I am not able to find

[2020-04-18 16:28] arpowers commented on #198
That should work fine, you just want to run the cli from a script right?  It is possible to run the cli as a script instead of via terminal, but usually that’s not needed.

The loader app file is not meant to run stand alone.

[2020-04-18 16:40] arpowers commented on #198
As for a script, try this:

`./node_modules/.bin/factor` which is the CLI executable. Let me know how it goes.

[2020-04-18 16:40] mohitsehgal commented on #198
How to do that please Guide

On Sat, 18 Apr 2020, 9:58 pm Andrew Powers, <notifications@github.com>
wrote:

[2020-04-18 16:44] arpowers commented on #198
This should work in a similar way to the way nuxt works... they have a custom CLI, similar commands:

https://github.com/nuxt/nuxt.js/issues/1541

[2020-04-18 16:44] arpowers commented on #197
@finestpixels look into this please.

[2020-04-18 16:57] mohitsehgal commented on #198
Thanks @arpowers
For those hitting the same issue, here is the command
`pm2 start ./node_modules/.bin/factor -i max`

[2020-04-18 16:57] #198 closed, assigned to nobody

[2020-04-20 23:21] LoganArnett opened #199 "Extend initial new Vue call"
**Reason for this issue**
I am trying to use `Vuetify` in my Factor app and I am unclear on how I would include it in my app. I tried to extend on a few of the hooks but I have been unsuccessful so far. Has anyone tried doing this?

**Steps to Reproduce**
Try to install Vuetify in a Factor app

[2020-04-21 16:38] mohitsehgal commented on #199
do the steps in index.ts @LoganArnett

[2020-04-21 16:40] LoganArnett commented on #199
@mohitsehgal that is what I have been attempting but no matter the install option I use I continue to get errors on render with missing components

[2020-04-21 16:43] arpowers commented on #199
@LoganArnett im working on a revamp of the docs which should be live this weekend. I can write an integration guide for this.

What are the errors you’re getting?

[2020-04-21 17:07] LoganArnett commented on #199
Currently I am getting this error:
![image](https://user-images.githubusercontent.com/8780547/79892727-f3816080-83d0-11ea-850b-66dc37850491.png)

I may also be configuring it incorrectly in the index. This is my first attempt at Factor and I am newer to Vue as well so I was just trying it out.

[2020-04-21 17:23] LoganArnett commented on #199
Definitely curious to see how to integrate external pieces like this. I assume there is no way to use the Vue CLI since it is extracted behind the factor commands?

[2020-04-21 19:17] arpowers commented on #199
Ah ok, so the `v-app` issue sounds like you aren't importing and adding it to the component:

[code]

That's just a guess, but basically Vue is saying it doesn't know what `v-app` is.

As for Vue CLI, ya that's a general scaffolding tool. So eventually we could make a Vue CLI plugin that scaffolds Factor apps.

Factor kinda wraps up a lot of the CLI stuff and takes it out of user land. Like Webpac

[2020-04-21 19:53] LoganArnett commented on #199
Yea, from the docs it looks like Vuetify is supposed to be integrated into the Vue instance and then the components are available but I will try importing like above

[2020-04-22 18:08] IamSAB opened #200 "Short guide to get ready for theme and plugin development in new docs"
As you are currently writing new docs, I would be glad, if you could add a section with a guide, how to do the setup for theme and plugin development. Recommended editor, extensions, dependencies, folder structure, how to use yarn workspaces, factor cli.

---
I tried to use yarn workspace to run a plugin in a factor app, but could not get it working.  I tried this:
The folder structure

[code]
pac

[2020-04-22 21:38] arpowers commented on #200
Good idea with the yarn workspaces, i'll add that somewhere..

As for docs, you can see here that they will be pretty comprehensive:

https://gist.github.com/arpowers/a9d91603a9ac02bb833659d51a6676fa

Checked boxes are what I've written so far.

[2020-04-22 21:38] #200 closed, assigned to nobody

[2020-04-22 22:58] gersirami commented on #197
I solved it by putting a "/" before every #path. Don't know if it's the best solution, but it works.

[2020-04-23 03:55] bnfan commented on #198
I create a script which runs `npx factor serve`, then use pm2 to start it, it works well so far.

[2020-04-23 17:31] raylopro commented on #197
Hi guys, a forward-slash "/" is the right way of adding these anchor links. Active nav items weren't working when adding a forward-slash to links before but should be fixed on next theme update.

[2020-04-23 17:31] #197 closed, assigned to nobody

[2020-04-24 13:49] loicy commented on #198
Hi @bnfan !

Can you give me the script or explain to me plz ?

Thx !

[2020-04-24 23:48] bnfan commented on #198
Sure, it's very simple:

1.create a script, e.g. run.sh
2.In the script run the `npx factor sever`

[code]

3.Use pm2 to run it:

`pm2 start ./run.sh`

[2020-04-25 12:24] loicy commented on #198
Hi @bnfan

Working, thx !

[2020-04-25 15:20] NuclleaR opened #202 "No valid exports main found for"
When I try to start new factor project I faced with issue

Steps to Reproduce
run in console
npx create-factor-app

❯ Starting create-factor-app@1.6.3
Great work!
✔ Generating Factor project in: <my path>
 ERROR  No valid exports main found for '/Users/nuclear/.npm/_npx/24589/lib/node_modules/create-factor-app/node_modules/is-promise'
  at resolveExportsTarget (internal/modules/cjs/loader.js:625:9

[2020-04-25 21:21] IamSAB opened #203 "Offline-first Progressive Web App"
What are your thoughts on factor cms as progressive web app? Is there a plan to make factor a offline-first app (or is it already?), so you could e.g. edit post types offline so the changes will be saved later whenever you are online again?

[2020-04-26 23:59] arpowers commented on #203
Yes, this is on the road map. It's just not a huge priority at the moment; as we question the utility of offline mode for typical web apps.

[2020-04-26 23:59] #203 closed, assigned to nobody

[2020-04-26 23:59] arpowers commented on #202
Sounds like an install issue, delete `node_modules` and reinstall.

[2020-04-26 23:59] #202 closed, assigned to nobody

[2020-04-27 00:01] arpowers commented on #196
@mohitsehgal this should all be fixed, reference new [docs](https://factor.dev/docs)

[2020-04-27 00:01] #196 closed, assigned to nobody

[2020-04-27 07:49] mohitsehgal commented on #196
Hi, I didnt got it in new docs either. Please give link of the page.

[2020-04-27 07:49] mohitsehgal commented on #196
@arpowers

[2020-04-27 07:57] mohitsehgal opened #204 "Custom Post Type Access Level"
I added custom post type successfully and added {accessLevel: 20} in addPostType.
Then I signed up with new user. Verified its email.
Case 1
Result - I was not able to see my custom post type in dashboard. ( New user had accessLevel 20 and role creator)

Case 2
I changed the accessLevel of the user from MongoDB to 50, and logged out and again logged in
Result - I was not able to see my custom post

[2020-04-28 23:29] lamoureux29 opened #206 "Creating new blog post redirects to existing post"
Hello,

I've been working on a website with Factor for the last few days and what you have built is really great!

I have one problem though. I can't create more than one blog post as when I click on "Add new" I get redirected to the update page of the existing blog post.

Any idea how to fix it?

I'm using Alpha Theme with Factor 1.7.0

**Steps to Reproduce**

When clicking on the add new button

[2020-04-28 23:37] arpowers commented on #206
Probably just a bug as we updated link handling in 1.7. Will fix tonight.

On Tue, Apr 28, 2020 at 4:30 PM Elie97 <notifications@github.com> wrote:

--
Founder @ Fiction.com

[2020-04-29 00:47] #206 closed, assigned to nobody

[2020-04-29 02:30] arpowers commented on #206
@hel29 fixed in `1.7.1`

[2020-04-29 19:23] #171 closed, assigned to nobody

[2020-04-29 19:23] #182 closed, assigned to nobody

[2020-05-07 06:15] ianquar opened #208 "Some Mistakes in the Docs"
### It's a greate documentation, When I was reading the Docs I noticed Three things.
#### 1. you writed two times `await await` in https://factor.dev/docs/database#query-directly-with-mongoose-models
[code]
#### 2. you forget a to declare addPostSchema in https://factor.dev/docs/post-types#schema-definition
[code]
#### 3. Markdown Image Loader link need to be fixed, he is going to the wrong url
`

[2020-05-07 07:22] arpowers commented on #208
@ianquar thank you! All fixed in the latest commit. Keep it up!

[2020-05-07 07:22] #208 closed, assigned to nobody

[2020-05-08 19:27] asvae opened #209 "Suggestion: Expose API methods to template"
## Reason
Sometimes you may want to call api methods directly from template. But there is no way to.

I.e. to open chat you would have to declare method.
[code]

Be this implemented - the code would look like this:
[code]

Which is way less code.

## Implementation
Something like this should work:

[code]

- [ ] Implement as Vue plugin
- [ ] ensure TS declarations work properly

## Concerns and de

[2020-05-11 21:38] arpowers commented on #209
This is bad practice. Globals should be avoided at all costs; we tried this in the early days.

To call from a template simply:

[code]

[2020-05-11 21:38] #209 closed, assigned to nobody

[2020-05-12 13:33] gergogy opened #210 "[Help] Client side rendered components (dep of window or something else)"
**Reason for this issue**
I would like to use https://github.com/RobinCK/vue-gallery in my project for a gallery.

How can I implement something like mentioned in Readme (Nuxt like approach)?
If I missed something in the docs or code sorry. (I checked https://factor.dev/docs/main-files, but its unclear for me, I think there is a caveat. Under "Environmentally Specific Main Files" "If you want to l

[2020-05-12 16:27] arpowers commented on #210
Typically, you'd use the main file to add routes along with their component (using `addRoutes`). Then you should have no problem adding your plugin inside the component. That help?

[2020-05-12 16:43] gergogy commented on #210
No, I don't think so.
I added this content route earlier:
`
addContentRoute({ path: "/kepek",  component: () => import("./views/kepek.vue") })
`

I want to use the lib in a component what is imported in `kepek.vue`.

[2020-05-12 16:51] arpowers commented on #210
Components can import other components, once you've created a route everything is just standard `vue` development.

[2020-05-12 16:57] gergogy commented on #210
Okay, I think its a little misunderstanding here.
I know this is simple `vue` dev after that, BUT this component using `window`, which is not present on server side, so its throws me an error. Nuxt approach is that we can define client side only plugins/components (or other methods like no-ssr tag). I hope this will clarifies things.

[2020-05-12 17:06] gergogy commented on #210
Sorry I forgot to add errors:
![image](https://user-images.githubusercontent.com/21192274/81723607-5ff8f800-9483-11ea-9ade-38f5de46837b.png)
Or if its loaded somehow (WTF?!), typical hydration error:
![image](https://user-images.githubusercontent.com/21192274/81723738-98003b00-9483-11ea-992f-1b54f22e8073.png)

[2020-05-12 17:06] arpowers commented on #210
ah, ya.. you gotta say that lol...  This is done here:
https://github.com/fiction-com/factor/blob/development/@factor/post/view/posts-edit.vue#L55

We just bring in the `vue-client-only` component and wrap the date picker (which has the same problem) with it...

I'll mention that this is bad practice by the plugin authors.

[2020-05-12 17:08] arpowers commented on #210
[code]

[2020-05-12 17:08] #210 closed, assigned to nobody

[2020-05-12 17:08] gergogy commented on #210
Oh, I missed that, but I lookup for everywhere. Its not so bad... just like `no-ssr`. Thanks

[2020-05-12 17:09] arpowers commented on #210
Ya we considered adding this to the core, but decided that there was no reason/benefit to that. Just bring in whatever `no-ssr` component you want ...

[2020-05-14 05:05] OrionQuantum342244 opened #211 "Issue in forum"
**Issue appears when you try to delete or edit a reply in forum**
`insufficient permissions as "member"`
https://prnt.sc/sgfn96

[2020-05-14 19:43] #139 closed, assigned to arpowers

[2020-05-14 19:44] #186 closed, assigned to nobody

[2020-05-14 19:46] #211 closed, assigned to nobody

[2020-05-18 19:29] raylopro opened #213 "Template settings don't show"
**Reason for this issue**

Template settings don't appear when I load post unless I refresh page.

Happening on alpha theme "work" post type.

**Steps to Reproduce**
Here's a video:

[Template Settings Cache Bug](https://share.getcloudapp.com/BluZmAQb)

[2020-05-18 23:04] #213 closed, assigned to nobody

[2020-05-18 23:18] arpowers commented on #187
Push notifications are a bag of worms and there are no real universal standards that make it straight forward to integrate directly.
That said, someone could easily to it with a plugin.

[2020-05-18 23:18] #187 closed, assigned to nobody

[2020-05-23 01:12] eagerestwolf opened #214 "Plugin to use Microsoft Azure Blob Storage with Factor"
I have created a plugin to use Microsoft Azure Blob Storage for Factor's images instead of Amazon S3. I have linked the NPM package and the git repository below...sorry if it looks like I borrowed heavily from the actual Factor code (I did), the plugin documentation isn't super great just yet, so I had to go by example.

NPM: https://www.npmjs.com/package/@modern-classic/factor-plugin-storage-azur

[2020-05-23 15:37] arpowers commented on #214
Awesome. Nothing wrong with borrowing heavily :)

What do you feel would be helpful to add to the documentation? A list of filters, etc.?

We're working on extensions listings right now, happy to add this along with backlinks and so on. All that's needed is the metainfo and screenshots:

https://factor.dev/docs/extension-guidelines

[2020-05-23 19:36] eagerestwolf commented on #214
I will get on the information for the extension guidelines as soon as I can. In terms of doucmentation, I would say a list of hooks that developers can hook into would be nice; along with some simple samples showing how a plugin can be setup. The documentation is there for frontend plugins, but not backend. Something like this so developers understand how to get started:

[code]

[2020-05-24 02:18] eagerestwolf commented on #214
Just a heads up, things are kind of on pause. My plugin had a few issues (I expected as much). The main one being that I cannot get the URL returned from the `storage-attachment-url` to work at the moment. I'm not sure if this is on Factor's end or (more likely) Azure's end. The files do get uploaded and deleted without issue though.

[2020-05-24 02:21] arpowers commented on #214
If you can get a URL back from a standard buffer then the rest should be trivial.

In the case of s3, that's this code:

[code]

From there the rest of the code can be identical to the s3 stuff.

[2020-05-24 02:27] eagerestwolf commented on #214
Yeah, I think my issue is that I'm awaiting the upload (similar to how the [Google Cloud plugin](https://github.com/fiction-com/factor/blob/development/%40plugins/plugin-storage-google-cloud/index.ts#L93) does things) because Google Cloud and Microsoft Azure have similar API's (in the sense that they both use Promises to handle the upload). The issue is that, for whatever reason, Microsoft's API d

[2020-05-24 12:37] siebevh opened #215 "seo layout bug"
**Reason for this issue**
A little layout bug, popup under menu

<img width="1680" alt="Schermafbeelding 2563-05-24 om 14 33 58" src="https://user-images.githubusercontent.com/34541597/82754215-cb1fc400-9dcb-11ea-8425-2ea3b0771039.png">

**Steps to Reproduce**
* go to a post in your dashboard
* add a picture in seo section
* click on the picture again
* the popup will be under the menu and is not

[2020-05-26 20:07] #215 closed, assigned to nobody

[2020-05-28 21:21] jebalert opened #216 "Cannot find module 'fs-extra'"
**Reason for this issue**
First factor project, results in error.
**Steps to Reproduce**
`npx factor dev`

[2020-05-28 21:22] arpowers commented on #216
Did you run `npm install`? That's a standard Node module, should be installed.

[2020-05-28 21:25] jebalert commented on #216
Yes, npm is installed.

Also note, npm found 2 low vulnerabilities

┌───────────────┬──────────────────────────────────────────────────────────────┐
│ Low           │ Prototype Pollution                                          │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ yargs-parser                                                 │
├───────

[2020-05-28 21:28] arpowers commented on #216
Are you trying any imports or anything custom? It's possible to have this issue if you import `fs-extra` in the browser environment.

(I'll upgrade the packages, thanks)

[2020-05-28 21:50] jebalert commented on #216
fysa, turns outs fs-extra is not included in npm install. I even went and reinstalled npm.

The solution was:
`npm install fs-extra`

[2020-05-28 21:50] #216 closed, assigned to nobody

[2020-05-28 22:04] arpowers commented on #216
@jebalert use yarn if you want to avoid these types of issues, NPM is a lot more fragile when it comes to package management for some reason.

[2020-05-29 00:19] jebalert commented on #214
Following this, would like to see Azure storage integration. Let me know if I can help!

[2020-05-29 04:33] eagerestwolf commented on #214
Well, it's not throwing errors anymore, but I don't know if I'm doing something wrong or if this is how Factor is intended to work; but nothing is being uploaded to Azure. I tried adding a new page and a new blog post. I also tried attaching the images as an avatar, attachment and dragging them into the post. I used 2 images: a low resolution JPEG downloaded from Facebook (71 KB) and a high resolu

[2020-05-29 04:38] eagerestwolf commented on #214
I should also specify, I know it's not an issue with my code itself as I created a test script that uses the exact same code and ran it with `ts-node` and it ran fine. Also also, the only extension requirement I have not yet met is the screenshot requirement and I don't see how a screenshot for an image attachment plugin would be of any use.

[2020-05-29 04:41] arpowers commented on #214
- The resolution of the pictures shouldn't matter as they are actually optimized in the browser to a reasonable size.

- The shortcode thing means its basically returning the base64 data of the image to you which is the default behavior if no image hosting service is setup.

The behavior seems to be related to that, if you post your code I can maybe eyeball it and see the problem. Are you using Ty

[2020-05-29 04:59] eagerestwolf commented on #214
I am using TypeScript. This is my code, minus comments. Although I tried to make everything neat enough that it probably shouldn't need comments.

[code]

[2020-05-29 05:20] arpowers commented on #214
I think your problem is due to your returning promises instead of the result of the promises.

I highly recommend just switching to `await` since you're already using `async`. Lots easier to reason about!

[2020-05-29 05:21] arpowers commented on #214
<img width="804" alt="Screen Shot 2020-05-28 at 9 44 37 PM" src="https://user-images.githubusercontent.com/308134/83224135-8b413f80-a131-11ea-80db-ad90ff5f677e.png">

Also, pro tip... i realized i left this out of the docs but you can add the Node inspector if you pass a `--inspect` flag when starting Factor. Can help with debugging this type of thing.

[2020-05-29 05:29] eagerestwolf commented on #214
That `--inspect` flag is actually good to know about. I guess I never actually thought to run `yarn factor help` to see if Factor had any kind of integrated debugger. I actually originally had used `await` instead of Promises, since that's how the Google Cloud plugin handles things, but when I was having issues I had decided to switch over to Promises like the S3 plugin.

[2020-05-29 23:20] jebalert opened #217 "Module not found, issue resolving from settings file"
**Reason for this issue**
Module not found: Error: Can't Resolve './img/whitebgLogo.png' in '/Users/joe/src'

**Steps to Reproduce**
In the override / output settings file, when I input

` site: {
  logo: require("./img/whitebgLogo.png"),
},
`

I get an error saying that it can't resolve it.

However, if I go directly into the themes entire factor-settings file and make the same change, it display

[2020-05-29 23:27] arpowers commented on #217
is the file there relative to the original file?

Also, pro tip, they've been recommending to use imports for images instead of `require`...

I think `() => import("./img/whitebgLogo.png")` would work... however that's a separate issue from the resolution problem.

[2020-05-29 23:30] jebalert commented on #217
Thanks for the tip!

So it turns out the issue was location of the image. I was under the impression the image needed to be in the img folder where the theme images reside

Solution was to put the image in the location of the factor-settings that I'm working out of.

It's a workflow thing. Once I get the hang of it, it'll be a breeze.

Side note, I'll eventually make some documentation around the

[2020-05-29 23:30] #217 closed, assigned to nobody

[2020-06-12 17:06] gergogy opened #218 "Add babel-loader for IE/Firefox compatibility"
**Reason for this issue**
Hi, I have compatibility issues with Firefox and MS Edge, the webpack output is not compatible, (ie: trailing commas in object, Promise, etc.). How can I add a babel loader for the project?
It has issues on server side because of it. I tried to push a default loader, in `'webpack-loaders'` hook:

`loaders.push({
      test: /\.?js$/,
      exclude: /(node_modules|bower_co

[2020-06-12 19:13] arpowers commented on #218
that's all handled by TypeScript which is set to target es2018. Doesn't that work in Firefox?

[2020-06-12 19:46] gergogy commented on #218
Unfotunately no.

Az iPhone-omról küldve

[2020-06-12 21:10] arpowers commented on #218
Which versions are we talking about?

[2020-06-12 21:56] gergogy commented on #218
Not the latest version of edge (webkit based). Currently Im not in front of my computer, but this versions are reported: “ Windows 10 Pro (x64) és Windows 2012R2  alatt a legújabb Firefox” Windows 10 pro and Windows server with latest Firefox.

Az iPhone-omról küldve

[2020-06-18 08:33] biapar opened #219 "Do it support SQLite so we cannot install a Mongo instance?"
**Reason for this issue**
Do it support SQLite so we cannot install a Mongo instance?
**Steps to Reproduce**

[2020-07-01 15:28] #199 closed, assigned to nobody

[2020-07-01 15:29] arpowers commented on #219
We'll be sticking with MongoDB in the short term; supporting additional DBs would complicate things.

[2020-07-01 15:29] #219 closed, assigned to nobody

[2020-07-01 15:29] #184 closed, assigned to nobody

[2020-07-01 15:30] #214 closed, assigned to nobody

[2020-07-01 15:30] #195 closed, assigned to nobody

[2020-07-01 15:30] #218 closed, assigned to nobody

[2020-07-01 15:30] #204 closed, assigned to nobody

[2020-07-01 15:30] #178 closed, assigned to nobody

[2020-07-01 15:30] #120 closed, assigned to nobody

[2020-07-01 15:30] #180 closed, assigned to nobody

[2020-07-01 15:31] #177 closed, assigned to nobody

[2020-07-01 15:31] #121 closed, assigned to nobody

[2020-07-01 15:31] #122 closed, assigned to nobody

[2020-07-01 15:31] #124 closed, assigned to nobody

[2020-07-01 15:31] #129 closed, assigned to nobody

[2020-07-01 15:31] #130 closed, assigned to nobody

[2020-07-01 15:31] #133 closed, assigned to nobody

[2020-07-01 15:31] #135 closed, assigned to arpowers

[2020-07-01 15:31] #136 closed, assigned to nobody

[2020-07-01 15:31] #138 closed, assigned to nobody

[2020-07-01 15:31] #148 closed, assigned to nobody

[2020-07-13 04:55] nodesocket opened #221 "[bug] update blog post permalink does not update in sitemap.xml"
When you update a blog posts permalink url in the editor, it does not update the sitemap.xml which leads to stale links showing up in the sitemap which 404.

[2020-07-13 04:59] nodesocket commented on #221
Restarting the **dev** server corrected the issue and the correct url showed.

[2020-07-13 04:59] #221 closed, assigned to nobody

[2020-07-19 00:46] YerkoPalma opened #223 "Weird terminal output on windows"
**Reason for this issue**

There is some weird encoding with create-factor-app see this
![image](https://user-images.githubusercontent.com/5105812/87864515-3d79d400-c937-11ea-953d-9eee73f45cb6.png)

**Steps to Reproduce**
Well I just ran create-factor-app. I'm under windows 10, using Hyper with git-bash. Other modules doen't seems to have this issue.

[2020-07-31 20:20] akbaruddink opened #224 "Not able to customise Zeno theme colours"
**Reason for this issue**
I started a new Factor CMS project and have been trying to replace tailwind colours to match my theme but it's not working.

**Steps to Reproduce**
1. Create Factor CMS project
[code]
2. Select Zeno Theme
3. Try replacing colours
[code]

[2020-07-31 20:38] arpowers commented on #224
@finestpixels  know what's happening here?

[2020-08-02 19:58] akbaruddink commented on #224
@finestpixels - could you please help us out?

[2020-08-04 01:53] raylopro commented on #224
@mr-kashif You have to restart Factor for the tailwind color variables to regenerate/update

[2020-08-04 03:02] gustavobretas commented on #223
It is something with your git-bash theme, I use with PowerShell and my theme can handle all those special characters.

[2020-08-04 04:33] akbaruddink commented on #224
I've tried that. It doesn't work.

[2020-08-04 07:24] raylopro commented on #224
Right now, you're customizing the fill utilities Tailwind generates, not the Zeno theme colors. You can learn more about that [here](https://tailwindcss.com/docs/fill/).

Zeno theme colors are mostly set with tailwind classes (e.g. bg-purple-700) and others on the `factor-styles.less` file via css variables (e.g. --color-primary: #6515dd; ).

[2020-08-04 14:50] akbaruddink commented on #224
If I'm extending those colours with the same name shouldn't it replace the class properties?

[2020-08-17 23:11] omarryhan opened #226 "Any chance you can loosen the requirement of signing up?"
**Reason for this issue**

Right now in order to view

1. the docs
2. available plugins
3. available themes

you are required to sign up first. I imagine that most people would want to at least glance at the docs before signing up. I'm confused about this requirement, especially that this project is open source which means that you can more or less read the info you need in the repo.

[2020-08-18 09:49] andrewanswer opened #227 "MongoDB has error at last release"
**Reason for this issue**
$ npx factor start
██████████████████████████████████░░░░░░ 84% loaded(node:418406) UnhandledPromiseRejectionWarning: MongoError: Index key contains an illegal field name: field name starts with '$'.
    at Connection.<anonymous> (/home/andrewanswer/test/node_modules/mongodb/lib/core/connection/pool.js:451:61)
    at Connection.emit (events.js:314:20)
    at Connection.Ev

[2020-08-18 09:50] andrewanswer commented on #227
Additional question - how to use local storage (w/o S3)?

[2020-08-18 10:21] andrewanswer commented on #227
Resetting password procedure don't work on factor.dev site.

[2020-08-18 18:43] andrewanswer opened #228 "Cannot send emails via SMTP"
**Reason for this issue**
I'm try to send e-mail via Yandex SMTP server and constantly got error: "Sender address rejected: not owned by auth user"

**Steps to Reproduce**
Set up your .env SMTP_USERNAME, SMTP_PASSWORD variables to your Yandex account and SMTP_HOST to "smtp.yandex.ru".

I need to set up Sender and From e-mail headers to bypass this.

[2020-08-18 19:36] andrewanswer commented on #228
Sorry, after setting up app email in package.json everything is worked.

But, I found some other error. Domain in e-mail verification letter doesn't taken from app url in package.json.
Instead, it taken from Node.JS server. It's a problem for proxied installations (like mine).

[2020-08-19 12:22] bppdddqqqq opened #229 "Setting Permalink to empty (aka, permalink to root), defaults to slugified title on Update"
**Reason for this issue**

Expected behaviour should be letting me set the permalink to / (aka empty) or write an error explaining why it's not possible (the issue is present even when there are no paths set to /)

**Steps to Reproduce**

1. Create a new page
2. Set permalink to empty

[2020-08-24 11:50] ekasiedu13 opened #230 "Error at runtime after npx create-factor-app"
**Reason for this issue**
I was getting started with factor js but i had this error without adding or removing a line of code

**Steps to Reproduce**
![factor-create-app error](https://user-images.githubusercontent.com/64902683/91041172-15008c00-e5ff-11ea-9c5f-72b36f1a2b5d.png)

Here's package.json. It has a valid main entry
![packagejson](https://user-images.githubusercontent.com/64902683/9104215

[2020-08-30 08:48] pedroresende commented on #227
any news about this issue ? Just made a clean install and had exactly the same error

[2020-09-01 06:02] omortikweb opened #231 "Deploying factor app to VPS"
For deploying factor app to vps, i followed the documentation where after upload the code, command call
`npx factor build`
![npxx](https://user-images.githubusercontent.com/70368623/91800535-f3308600-ec4a-11ea-8234-b65c7e053f62.png)

here, i follow this step:
![Screenshot_2](https://user-images.githubusercontent.com/70368623/91800643-2f63e680-ec4b-11ea-92c0-0d27092d9a95.png)

[2020-09-01 13:59] arpowers commented on #231
Haven't seen that one before, is it recognizing the `factor` cli command?

[2020-09-02 09:33] omortikweb commented on #231
this problem was solved by deleting node_modules and again run `npm install` .
But after that, when ran `npx factor serve`
![Screenshot_3](https://user-images.githubusercontent.com/70368623/91964726-54328980-ed31-11ea-9c47-e5ed29bb9e7d.png)

 Not generate production mode. Why generate `http://localhost:3000` this url?

[2020-09-06 13:29] olegs18 opened #232 "Mongodb problem - Index key contains an illegal field name: field name starts with '$' AND text index required for $text query"
**Reason for this issue**
1. At startup, it is observed:
MongoError: Index key contains an illegal field name: field name starts with '$'
Like this #227 .
2. Also the search does not work in the forum and blog. The following is displayed: `text index required for $text query`
LOG (`console.log(conditions, options);`):
↑ Request /_api_/posts → postIndex(forumTopic) 0.014s Size: 0kb POST:200
**condi

[2020-09-06 17:07] #232 closed, assigned to nobody

[2020-09-06 17:13] arpowers commented on #232
Partially fixed in commit, MongoDB has changed something in regard to text indexes apparently.

[2020-09-12 06:10] nonissue commented on #226
I agree wholeheartedly. When I saw that themes, plugins, and even **documentation** (this boggles the mind) are walled off without signing up, I immediately left the site, and my first impression of the whole project is incredibly negative.

[2020-09-12 15:23] arpowers commented on #226
@nonissue we've done this for two reasons. Primarily because we trying to reduce support requests from "casual" Users. Second, we are going to be upgrading to Vue3 and Vite in a few months; and reorganizing things as a headless CMS for easier public usage.

[2020-09-23 11:52] bppdddqqqq commented on #229
The issue seems to stem from the onEvent "save-post" callback located in `@factor/post/el/permalink.vue`.

`if (!this.value && this.post.title) {
        this.emit(this.post.title)
}`

It evaluates the permalink string and if it's falsy, it emits the title as a new permalink.

One of the falsy evaluations is an empty string, which results into this behaviour.

[2020-10-07 14:49] bppdddqqqq opened #236 "Profile Settings button in dashboard seems to resolve relatively rather than absolutely"
**Reason for this issue**

**Steps to Reproduce**

Click on the "Profile Settings" in user dialog. The url gets resolved relatively, which results into 404

[2020-10-20 04:30] ash0080 opened #237 "[bug] Forum categories are case-sensitive, but not covered in the code"
**Reason for this issue**
If you create a category string with Uppercase
the filter function won't work,
because the category string is not match actually

**Steps to Reproduce**

![2020-10-20_12-35-43 (2)](https://user-images.githubusercontent.com/2803210/96540642-cefb3800-12d0-11eb-8751-77a97fd98c81.png)
![2020-10-20_12-35-43 (1)](https://user-images.githubusercontent.com/2803210/96540649-d15d92

[2020-10-20 17:41] abishekrsrikaanth opened #238 "How to deploy factor to Vercel or Netlify?"
It would be great if there are docs on how to setup the app on Vercel or Netlify

[2020-10-20 18:33] abishekrsrikaanth opened #239 "how to include a css/js file from cdn on the alpha theme"
I am trying to use a js library on the factor app and need to include a js and a css file on the layout. How do I include it? I am using the alpha theme

[2020-10-20 19:28] arpowers commented on #239
you can add them directly on the "content.vue" wrapper component. From there it's standard Vue coding

[2020-10-20 19:28] #239 closed, assigned to nobody

[2020-10-22 07:59] ash0080 opened #240 "checkbox not working as expect"
**Reason for this issue**
Cannot save properly or even generate fields.

···
 templateSettings() {
    return [
      {
        input: "checkbox",
        label: "Show In Home",
        description: "Show it in homepage",
        _id: "inHome",
        _default: false,
      },
···

v1.8.26

[2020-10-22 09:40] ash0080 commented on #240
But I think the best way to do is to rewrite all UI components with v-model,
[ref](https://vuejs.org/v2/guide/components-custom-events.html?#Customizing-Component-v-model)

[2020-10-22 17:22] arpowers commented on #240
The pattern that is in place is related to wrapping, v-model doesn't work as well as you need to use watchers.

However, if it's not working as expected, I'm happy to accept your PR. What was happening that was unexpected?

[2020-10-22 19:28] ash0080 commented on #240
Can‘t save or generate data field, or trigger event

[2020-10-23 07:18] ash0080 commented on #237
After a bit of fiddling, I think it's better to split the category into the label and _id fields, otherwise, we need to consider spaces, special characters, and so on.

I'm guessing it's probably the same for tags, not confirmed yet.

Or use the i18n for this purpose?

[2020-10-23 07:40] ash0080 commented on #237
Sorry I've found the right way.  as a ref here

[code]

[2020-10-23 07:40] #237 closed, assigned to nobody

[2020-10-26 08:00] ash0080 opened #242 "[webpack] Optimization for Production Environment"
Test with a clean install

![npx factor start](https://user-images.githubusercontent.com/2803210/97147125-f86e0500-17a3-11eb-9da3-db6e2805828c.png)

I tested in the development environment with --static-files and got the same results

[2020-10-27 07:23] arpowers commented on #242
It's using standard Webpack 4 under the hood, which does what it does to give you this result.

What is it, in particular, you don't like?

[2020-10-27 07:43] ash0080 commented on #242
main.js is too large (1.7M) and has more than 60% unused code, so the lighthouse scores is very low, note that I'm testing locally above, the actual deployment is a bit worse, So for users, this homepage loading speed seems hard to accept, So is there anything I can optimize?

for example, how can I split the common public module like vue?
and use cdn versions to replace them?

[2020-10-27 07:56] arpowers commented on #242
Are you gzipping or similar? You may want to run the --analyze option on build and see what is causing the size to jump.

W our internal apps we typically get a bundle size around 1mb that compresses down to around 350kb which we think is acceptable.

As for lighthouse scores... The state of optimizing JS apps is moving very fast as libs finally convert to es6. The next major update to factor will

[2020-10-27 13:47] abishekrsrikaanth commented on #231
Have the same issue, can't deploy to anything other than heroku. I was thinking of deploying to Vercel or Netlify and it just stops at that.

[2020-10-27 18:42] ash0080 commented on #242
![screenshot](https://user-images.githubusercontent.com/2803210/97344322-8e4c8180-18c3-11eb-87fb-8c1d8e092fa3.png)
![2020-10-28_02-16-30](https://user-images.githubusercontent.com/2803210/97344376-9f958e00-18c3-11eb-9b87-978b8e4ccfa2.png)

I messed around with the webpack.config, and it's better now.

What I did,
1. Add CompressionPlugin to generate static gzip files to make Nginx gzip_static work

[2020-10-27 19:01] abishekrsrikaanth commented on #238
@arpowers any updates on this?

[2020-11-01 18:56] arpowers commented on #242
Awesome work, I'm about to start back on Factor for some internal dev and will take a look.

One reason this project is semi "on hold" is because the ground seems to be moving under it's feet w Vue3, Webpack 5, esbuild and Vite. Would love to have some additional core devs as we look to a more concise and performant Factor v2

[2020-11-02 21:01] arpowers commented on #238
@abishekrsrikaanth are you planning on using those services as static site hosts?

[2020-11-05 17:18] domsen123 commented on #242
please don't let factor fall asleep :) it is realy awesome... :)

[2020-11-05 17:21] arpowers commented on #242
I'm currently looking at the new Vue stuff as Id really love to move away from Webpack. The primary issue is the rapid and unstable changes being made to crucial stuff that Factor has to use under the hood.

[2020-11-05 21:17] #240 closed, assigned to nobody

[2020-11-08 18:19] mariuz92 opened #249 "Error on permalink"
**Reason for this issue**

Error when trying to update a new post -->

 work validation failed: permalink: Path permalink (``) is shorter than the minimum allowed length (2). in posts:savePost

**Steps to Reproduce**

When typing the title for the post only a few letters are transmitted to the permalink.
![screenshot-localhost-3000-dashboard-posts-work-add-new-1604859403901](https://user-images.gi

[2020-11-08 18:23] mariuz92 opened #250 "Tag post error"
**Reason for this issue**

Tags require 3 characters

**Steps to Reproduce**
Even if you input more than 3 char you get an error
![screenshot-localhost-3000-dashboard-posts-work-add-new-1604859685101](https://user-images.githubusercontent.com/24547295/98480672-822fc080-21ef-11eb-8a24-151fc3e43337.png)
 get an error.

[2020-11-09 19:36] abishekrsrikaanth commented on #238
@arpowers, want to be able to deploy the site similar to hosting on heroku. Vercel does support server based hosting unlike netlify

[2020-11-09 19:39] abishekrsrikaanth opened #251 "Cannot use webp images"
Using a `webp` image on a testimonial image throws the following error.

[code]

[2020-11-09 20:00] arpowers commented on #251
Standard Webpack problem. I'll add `webp` to the file loader extensions; hopefully that works for you

[2020-11-09 20:02] #251 closed, assigned to nobody

[2020-11-09 20:22] arpowers commented on #238
In the next version of Factor, we plan on supporting static sites.  For Factor 1.x you'll need to back things up with a Node server to handle your SSR.

Give me a few weeks and I can demo 2.0 :P

[2020-11-09 22:08] abishekrsrikaanth commented on #238
Sounds good, Is there any way you can suggest to make SSR work with vercel similar to heroku. Trying to figure out where that whole heroku thing is tied up to make it work just with heroku for Production deployment.

[2020-11-10 11:15] antonyadhiban commented on #249
Having the same issue.

Update:
Only the letter w is accepted in the permalink. So /w or /ww or /www works and saves. Anything else just throws the same error.

[2020-11-10 22:38] arpowers commented on #249
Will patch this today.

[2020-11-10 22:44] #249 closed, assigned to nobody

[2020-11-11 07:16] IamSAB opened #252 "Vue formulate for form ui"
I heard you are working on a new version of factor. I recently became friend with https://vueformulate.com/ which could be well suited for factor's form ui. It actually does the same but has more features, has a tough-out architecture and is very flexible.
It also support form generation from a javascript object or even json which would serve well for the template settings.

Why maintain your own

[2020-11-11 15:09] arpowers commented on #252
Cool that's always been in the intention; to be extension first. V2 will take a different perspective on a few things; lets review in January.

[2020-11-11 15:09] #252 closed, assigned to nobody

[2020-11-20 07:43] dogrocker opened #253 "Can't upload image on Meta Image from factor/seo"
**Reason for this issue**
I try to upload image on Meta Image at blog post, But when I click save button no image save.

**Steps to Reproduce**
1. Use base factor/blog, factor/seo
2. Create new post
3. Click on Meta Image, Select image from computer.
4. Click save
5. It aleart "saved!"
6. No console.log() error.
7. Refresh page Image on Meta image not save.

[2020-12-01 20:32] sstevan opened #254 "Factor v2 - update"
Hey @arpowers,

Great job with Factor so far! We are planning on switching to Factor (from Gatsby) for our company website.

I have noticed that you mentioned something about the Factor v2 comming up soon (in one of the latest issues)?
Can you update us on that? Should we wait for v2?

Thanks,
Stevan

[2020-12-01 22:54] arpowers commented on #254
hey @sstevan, yes, we recommend you wait.

Due to the switch to Vite/Vue3 we were going to have breaking changes. But in the meantime, we've learned a lot working on  [Darwin](https://www.darwin.so) so we'll also be making some really nice improvements to various architectural aspects of Factor.

Note: Breaking changes aren't recommended for production frameworks. So with the next edition, we are

[2020-12-02 10:11] sstevan commented on #254
Thanks @arpowers for the update!

Any ETA on v2? Is it publically available on the `next` branch?

[2020-12-09 00:06] abishekrsrikaanth commented on #254
@arpowers when can we expect v2?

[2020-12-09 22:06] arpowers commented on #254
@abishekrsrikaanth depends on a few things that are hard to predict. Development is going faster now than ever however.

[2020-12-11 15:42] abishekrsrikaanth commented on #254
@arpowers, good to hear. so far, have been having a lot of fun with it. Waiting to see what is in store on the new version

[2021-01-05 14:17] ash0080 commented on #242
try snowpack

[2021-01-18 20:19] bppdddqqqq opened #257 "lodash-es@^4.17.15 updates to 4.17.20 which results in ERR_REQUIRE_ESM"
**Reason for this issue**

4.17.20 of lodash-es introduced a new setting set in package.json which results into an error for latest Node 12 and 14 runtimes. The error is ERR_REQUIRE_ESM.

**Steps to Reproduce**

Install the package without a lockfile

**Mitigation**

Set a resolution for lodash-es for 4.17.15

[2021-01-21 17:58] FridayCandour commented on #223
Please I can't Install it, do you have any stand alone option

[2021-01-27 11:03] bppdddqqqq opened #258 "Unneccessary import of identical files "@factor/dashboard/theme/reset.less" and "@factor/ui/css/standard-reset.less" in Prod mode"
**Reason for this issue**

It's a pretty specific issue, but I've found this during inspection of build output.

Factor seems to include 2 identical reset stylesheets during the build process in production mode and uses them during non-dashboard navigation. This also raises a question why Factor includes Dashboard CSS files in the non-dashboard navigation...

** Steps to reproduce **

Examine the

[2021-01-27 13:48] arpowers commented on #258
The reason is due to some Webpack quirks but the shared CSS should only happen in development.  (Webpack has a rough time in dual build setups and we ultimately decided it was simplest to share the build in dev)

On this topic, we will absolutely be moving to Vite (or possibly Snowpack) in newer versions of Factor. These newer tools have non of the problems that Webpack created.

[2021-01-27 19:29] bppdddqqqq commented on #258
I understand, I've resorted to monorepoing the dashboard for now and removing the incriminating less file. But thanks for the explanation 👍

[2021-02-05 10:20] lindamacdonald opened #259 "Is it possible to translate the dashboard? :)"
**Reason for this issue**
Hey there :) great project!! I had a browse through the docs and it said to fork a repo in case we wanted to contribute. I would like to contribute with a norwegian translation in case you don't already have one for the dashboard?

**Steps to Reproduce**

[2021-02-07 22:17] voondo commented on #257
FYI a workaround is to add this in your `package.json`:
[code]

[2021-02-09 16:28] acalvino4 opened #260 ""Error [ERR_REQUIRE_ESM]: Must use import to load ES Module:" at `yarn factor dev`"
**Reason for this issue**
Getting started with a factor app is theoretically super easy: just `npx create-factor-app <app-name>`, then `npx factor dev`. However, I get the following error:

[code]

**Steps to Reproduce**
[code]
See resulting error

Note: I tried this process with the yarn equivalents, and got the same error

MacOS 11.2
npm 6.14.11
node 14.8.0
yarn 1.22.10

UPDATE: the [manual inst

[2021-02-10 01:27] bppdddqqqq opened #261 "Idea: schemaPopulated should support nested/arrayed object values"
**Reason for this idea**

Current schemaPopulated only allows to pre-populate two specific schema definitions

example:
[code]

`goodOne` and `goodOnes` will pass by setting `schemaPopulated: ["goodOne", "goodOnes"]`, but the remaining two cannot be populated by limited implementation of requestPostPopulate function. The code in question is in lines 80-89, which only picks object items via bracket

[2021-02-10 11:30] bppdddqqqq commented on #260
Duplicate issue, look up issue #257

[2021-02-10 20:31] acalvino4 commented on #260
thanks!

[2021-02-10 20:31] #260 closed, assigned to nobody

[2021-02-12 15:09] bppdddqqqq commented on #259
Just putting my two cents... As a developer who only submits issues and occassional PRs. Dashboard is currently coded in a way, in which it does not support multiple languages. So currently translations aren't an easy thing and the best thing to do is to fork the dashboard module and add the translations yourself without merging them with the codebase.

Or extend the Dashboard module to support i1

[2021-02-12 16:01] arpowers commented on #259
What pattern would you recommend for V2?

On Fri, Feb 12, 2021 at 7:10 AM bppdddqqqq <notifications@github.com> wrote:

--
Founder @ Fiction.com

[2021-02-12 20:36] bppdddqqqq commented on #259
Primarily, the dashboard needs to embed all text into `factor-settings.ts`

The most obvious solutions that I can think of are two.

- expand `factor-settings.ts` to support translated setting files (say `factor-settings.en_US.ts`, which will replace all defined settings in `factor-settings.ts` under condition, the language is set to `en_US`, so if key is defined in en_US, it uses that instead of

[2021-02-14 05:15] acalvino4 opened #263 "adding image to page on dashboard not working"
**Reason for this issue**
I set up my amazon s3 and an IAM user exactly as outlined [here](https://factor.dev/docs/amazon-s3), and configured my .env file accordingly, but when I upload an image to a new page from the dashboard, it fails, with this error in my server:
[code]
Looks like an s3 permission error, which leads me to believe that instructions for setting that up in the docs are incomplet

[2021-03-22 12:45] dhruvsaxena1998 commented on #257
Just tried, not working on windows

[2021-03-23 16:47] Miguelklappes opened #266 "Is this project dead? Last commit was November 10th of 2020[Nevermind]"
Basically, the title.

[2021-03-23 17:16] #266 closed, assigned to nobody

[2021-03-23 22:12] arpowers commented on #266
The public version is going to be deprecated because of a number of ecosystem changes that have occurred in recent months.. e.g. vue3, vite, etc..

We have been working on a newer version as part of another application we are working on. The release date for that is TBD>

[2021-04-21 19:21] Saunved commented on #257
Don't forget to run ```yarn``` or ```npm install``` after making this change!

[2021-05-10 11:06] cy2201 opened #273 "Open Source Software's docs should be open source too"
I was interested in Factor. It looks good so I wanted to see the docs before I decide to develope with it. But why I need an account to see the docs? Factor is open source. Even it wasn't open source, I think the docs should be readable by everyone.

Offtopic: The "We're hiring" link in the footer is broken.

[2021-05-11 14:25] arpowers commented on #273
The current version is in an archived state as we have been upgrading to newer breaking tech like Vite/Vue3, Postgres, etc.. The newer version is already in production for Darwin (https://www.darwin.so) and we are working on that launch before we formally begin development on the next public version of Factor.

[2021-07-10 17:26] Triloworld commented on #259
Like any good architecture, enable hook to transform text: by language, context or by a11y (additional text for reader).
Hooks run in Drupal, Wordpress and Prestashop and are key to success for this project too :)
Any "override" is problematic in module level as this duplicate efford to translate same text over and over again.
I think that hook can be used in may more scenario in future - text can

[2021-08-17 08:51] hagaiwech opened #280 "Contact"
Hi Factor team,

I did not manage to find any security issues mail address to report to, so I contacted your personal mail.
Did you get it?
If not, please contact me back to hagai.wechsler@whitesourcesoftware.com, it is about security issues found.

Thanks,
Hagai

[2021-09-01 22:10] abishekrsrikaanth opened #282 "Is there an upgrade guide for v1.8 to v3.x"
Is there an upgrade guide for v1.8 to v3.x

[2021-09-01 22:16] arpowers commented on #282
V3 is still unreleased technically, give us a couple weeks

[2021-09-01 22:42] abishekrsrikaanth commented on #249
which version is this patch available on. I am currently on v1.8.28 and I have this issue. Can seem to upgrade to v1.8.30. Getting an error when running `npx factor dev`. Cannot create any new posts because of this issue.

[2021-09-01 22:44] abishekrsrikaanth commented on #282
Cannot upgrade to v1.8.30 as I am having issues currently with v1.8.28 in regards to permalink.
Unable to create posts, so looking forward to upgrading to the v3.x

[2021-09-01 22:46] arpowers commented on #249
whats the error?

[2021-09-01 22:47] abishekrsrikaanth commented on #257
I have this same issue on v1.8.30

[2021-09-01 23:12] abishekrsrikaanth commented on #249
@arpowers  The same error that is described above. Here is a screencast of the same.

![CleanShot 2021-09-02 at 04 39 35](https://user-images.githubusercontent.com/1639302/131757139-b66549b5-91c0-47b6-a071-9c25acc171e0.gif)

- I add the title and a random slug/permalink is generated.
- When I click the `Update` button, the permalink gets set to blank and it doesn't allow me to create the work post

[2021-09-01 23:16] abishekrsrikaanth commented on #249
If you meant the error when upgrading to v1.8.30, here is the error output when running `npx factor dev` after running `npm upgrade`.

- I have also tried to remove `package-lock.json` and `node_modules` folder and ran `npm upgrade`.
- I have tried to manually update the version on `package.json`, removed `package-lock.json` and `node_modules` folder and ran `npm install`. Still the following erro

[2021-09-02 15:17] arpowers commented on #249
This type of thing is the reason Webpack is so tough to work with and the reason F3 (which is powered by Vite) is just way cleaner.

[2022-03-18 14:45] erossdev opened #288 "Uknown file extension ".ts""
I'm a big fan from what I see of factor but I can't get it up and running (below is the error). I know you are doing a massive re-write and I was hoping to possibly contribute to the project but there are no guidelines or instructions to get up and running on my local machine.

[code]

[2022-03-18 16:25] arpowers commented on #288
Correct, we're still building and refining things via work on Kaption.co ... Docs need to be updated.

The probably you have above may be related to the version of Node you're using (should be 16+)...

[2022-03-23 17:03] erossdev commented on #288
Even after upgrading to node 16 I'm still getting issues. First it complained there was no favicon.png which was easily fixed but now I'm getting

` ERROR  Failed to resolve force included dependency: vuex`

Is there a public roadmap or will this only be developed in-house at kaption.co?

[2022-03-23 17:18] arpowers commented on #288
The above issue looks like we need to add Vuex to a `package.json` somewhere.. Which repo are you trying to run? i'll update it.

Once Kaption is in production we will be updating the docs, and refining Factor for production use as a rapid GIT-powered CMS blogging/website creation engine.

Overall the issue is that the JS ecosystem best practices and tooling have been changing on a weekly basis.

[2022-03-23 18:02] erossdev commented on #288
I tried doing a "getting started" from the factor website and create the minimum but doesn't seem to be working. If you have a minimal example that would be cool.

Agreed on the ecosystem! People always want the "latest cool thing" when it's not always the best...

Let me know if I can help in some way, feel free to close this issue too

[2022-06-28 17:46] jebalert opened #289 "factorjs.org not loading"
I'm aware it is independent of the codebase itself, but I wanted to make sure the team was aware.

Browser: Edge
Workstation: Windows 11
Timestamp: 1:45 PM EDT 6/28/2022

[2022-06-30 15:29] arpowers commented on #289
Thanks, fixed. Was a build error.

[2022-06-30 15:29] #289 closed, assigned to nobody

[2022-06-30 15:30] #223 closed, assigned to nobody

[2022-06-30 15:30] #224 closed, assigned to nobody

[2022-06-30 15:30] #226 closed, assigned to nobody

[2022-06-30 15:30] #227 closed, assigned to nobody

[2022-06-30 15:30] #228 closed, assigned to nobody

[2022-06-30 15:30] #229 closed, assigned to nobody

[2022-06-30 15:30] #230 closed, assigned to nobody

[2022-06-30 15:30] #231 closed, assigned to nobody

[2022-06-30 15:30] #236 closed, assigned to nobody

[2022-06-30 15:30] #238 closed, assigned to nobody

[2022-06-30 15:30] #242 closed, assigned to nobody

[2022-06-30 15:30] #250 closed, assigned to nobody

[2022-06-30 15:30] #253 closed, assigned to nobody

[2022-06-30 15:30] #254 closed, assigned to nobody

[2022-06-30 15:30] #257 closed, assigned to nobody

[2022-06-30 15:30] #258 closed, assigned to nobody

[2022-06-30 15:30] #259 closed, assigned to nobody

[2022-06-30 15:30] #261 closed, assigned to nobody

[2022-06-30 15:30] #263 closed, assigned to nobody

[2022-06-30 15:30] #273 closed, assigned to nobody

[2022-06-30 15:30] #280 closed, assigned to nobody

[2022-06-30 15:30] #282 closed, assigned to nobody

[2022-06-30 15:30] #288 closed, assigned to nobody

[2022-07-26 13:44] appinteractive opened #290 "Tutorials and create-factor-app are Broken, beside the website"
Currently the projects seems to be completely broken, neither are the themes working on https://factor.dev/themes/, nor us the create-factor-app doing its job.

Looks like a promising project, but there is a lot to do right now.

Docs do not reference the cfa but suggests npm init which doesn`t work too.

I`m using node 16 right now.

[code]